In [1]:
#Import the required Libraries.
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## Data Cleaning

### Data Reading & Data Types

In [22]:
#Import the required Libraries.
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

#Read the data in pandas
inp0= pd.read_csv("Attribute DataSet.csv")
inp1= pd.read_csv("Dress Sales.csv")
inp0.head()
# inp1.head()

,Dress_ID,Style,Price,Rating,Size,Season,NeckLine,SleeveLength,Material,FabricType,Decoration,Pattern Type,Recommendation
0,1006032852,Sexy,Low,4.6,M,Summer,o-neck,sleevless,NaN,chiffon,ruffles,animal,1
1,1212192089,Casual,Low,0.0,L,Summer,o-neck,Petal,microfiber,NaN,ruffles,animal,0
2,1190380701,vintage,High,0.0,L,Automn,o-neck,full,polyster,NaN,NaN,print,0
3,966005983,Brief,Average,4.6,L,Spring,o-neck,full,silk,chiffon,embroidary,print,1
4,876339541,cute,Low,4.5,M,Summer,o-neck,butterfly,chiffonfabric,chiffon,bow,dot,0

You have “Attribute DataSet” which contains a column named “Price”. Choose the correct statement from the following about its data type and variable type.
- Integer type and numerical variable
- Object type and categorical ordinal variable
- Object type and categorical nominal variable
- Float type and categorical variable.


Following are the some of the types of variables:
- **Numeric data type**: banking dataset: salary, balance, duration and age.
- **Categorical data type**: banking dataset: education, job, marital, poutcome and month etc.
- **Ordinal data type**: banking dataset: Age group.
- **Time and date type** 
- **Coordinates type of data**: latitude and longitude type.


There are two types of categorical variable, nominal and ordinal.
 - A nominal variable has no intrinsic ordering to its categories. For example, gender is a categorical variable having two categories (male and female) with no intrinsic ordering to the categories. 
In research activities a YES/NO scale is nominal. It has no order and there is no distance between YES and NO. There are also highly sophisticated modelling techniques available for nominal data. An ordinal scale is next up the list in terms of power of measurement.

 - An ordinal variable has a clear ordering.Price - (high,low,etc) is the categorical type with a specific order in it; hence, it is an ordinal type of data.
As Price has some increasing order such as low, medium and high; hence, it is not nominal type.

In [19]:
#Import the required Libraries.
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

#Read the data in pandas
inp0= pd.read_csv("Attribute DataSet.csv")
inp1= pd.read_csv("Dress Sales.csv")
inp0.head()
# inp1.head()
inp0.info()
print("\n\n Price value counts\n",inp0.Price.value_counts())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 479 entries, 0 to 478
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Dress_ID        479 non-null    int64
 1   Style           479 non-null    object
 2   Price           477 non-null    object
 3   Rating          479 non-null    float64
 4   Size            479 non-null    object
 5   Season          477 non-null    object
 6   NeckLine        476 non-null    object
 7   SleeveLength    477 non-null    object
 8   Material        360 non-null    object
 9   FabricType      223 non-null    object
 10  Decoration      255 non-null    object
 11  Pattern Type    377 non-null    object
 12  Recommendation  479 non-null    int64
dtypes: float64(1), int64(2), object(10)
memory usage: 48.8+ KB


 Price value counts
 Average      240
Low          165
Medium        30
very-high     21
High          21
Name: Price, dtype: int64

There is another column in “Attribute DataSet” named as “Recommendation”, choose the correct statement about its data type and variable type.
- Integer type and categorical

Answer : 
It is an integer type and has categories in it like 1 and 0. You can check its type using the following code.
inp0.info()

- Object type and categorical
- Integer type and continuous numerical
- Object type only.

In [25]:
#Import the required Libraries.
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

#Read the data in pandas
inp0= pd.read_csv("Attribute DataSet.csv")
inp1= pd.read_csv("Dress Sales.csv")
inp0.head()
# inp1.head()

print("\n\nIdentifying var type === \n")
inp0.info()
print("\n\n Price value counts\n",inp0.Price.value_counts())
print("\n\n Recommendation value counts\n",inp0.Recommendation.value_counts())

Identifying var type ===

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 479 entries, 0 to 478
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Dress_ID        479 non-null    int64
 1   Style           479 non-null    object
 2   Price           477 non-null    object
 3   Rating          479 non-null    float64
 4   Size            479 non-null    object
 5   Season          477 non-null    object
 6   NeckLine        476 non-null    object
 7   SleeveLength    477 non-null    object
 8   Material        360 non-null    object
 9   FabricType      223 non-null    object
 10  Decoration      255 non-null    object
 11  Pattern Type    377 non-null    object
 12  Recommendation  479 non-null    int64
dtypes: float64(1), int64(2), object(10)
memory usage: 48.8+ KB


 Price value counts
 Average      240
Low          165
Medium        30
very-high     21
High          21
Name: Price, dtype: int64


 Recommendation value counts
 0    274
1    205
Name: Recommendation, dtype: int64

Which of the following column do you think are of no use in “Attribute DataSet”.
- Dress_ID
- Price
- Size and material
- NeckLine
- None of the above
Answer : 
<br/> All the columns mentioned above in the dataset are equally important.

#### Note : 
There are two datasets in this case study. The common information from both the datasets can only be fetched using dress ID; hence, this is a very important column.

In [2]:
#Import the required Libraries.
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

#Read the data in pandas
inp0= pd.read_csv("Attribute DataSet.csv")
inp1= pd.read_csv("Dress Sales.csv")
inp0.head()
# inp1.head()

print("\n\nIdentifying var type === \n")
inp0.info()
print("\n\n Price value counts\n",inp0.Price.value_counts())
print("\n\n Recommendation value counts\n",inp0.Recommendation.value_counts())


# Print the information about the attributes of inp0 and inp1.
inp0.info()
inp1.info()

Identifying var type ===

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 479 entries, 0 to 478
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Dress_ID        479 non-null    int64
 1   Style           479 non-null    object
 2   Price           477 non-null    object
 3   Rating          479 non-null    float64
 4   Size            479 non-null    object
 5   Season          477 non-null    object
 6   NeckLine        476 non-null    object
 7   SleeveLength    477 non-null    object
 8   Material        360 non-null    object
 9   FabricType      223 non-null    object
 10  Decoration      255 non-null    object
 11  Pattern Type    377 non-null    object
 12  Recommendation  479 non-null    int64
dtypes: float64(1), int64(2), object(10)
memory usage: 48.8+ KB


 Price value counts
 Average      240
Low          165
Medium        30
very-high     21
High          21
Name: Price, dtype: int64


 Recommendation value counts
 0    274
1    205
Name: Recommendation, dtype: int64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 479 entries, 0 to 478
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Dress_ID        479 non-null    int64
 1   Style           479 non-null    object
 2   Price           477 non-null    object
 3   Rating          479 non-null    float64
 4   Size            479 non-null    object
 5   Season          477 non-null    object
 6   NeckLine        476 non-null    object
 7   SleeveLength    477 non-null    object
 8   Material        360 non-null    object
 9   FabricType      223 non-null    object
 10  Decoration      255 non-null    object
 11  Pattern Type    377 non-null    object
 12  Recommendation  479 non-null    int64
dtypes: float64(1), int64(2), object(10)
memory usage: 48.8+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 479 entries, 0 to 478
Data columns (total 24 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Dress_ID    479 non-null    float64
 1   29-08-2013  479 non-null    int64
 2   31-08-2013  479 non-null    int64
 3   09-02-2013  479 non-null    int64
 4   09-04-2013  479 non-null    int64
 5   09-06-2013  479 non-null    int64
 6   09-08-2013  479 non-null    int64
 7   09-10-2013  479 non-null    int64
 8   09-12-2013  479 non-null    object
 9   14-09-2013  479 non-null    object
 10  16-09-2013  479 non-null    object
 11  18-09-2013  479 non-null    object
 12  20-09-2013  479 non-null    object
 13  22-09-2013  479 non-null    object
 14  24-09-2013  479 non-null    int64
 15  26-09-2013  257 non-null    float64
 16  28-09-2013  479 non-null    int64
 17  30-09-2013  222 non-null    float64
 18  10-02-2013  220 non-null    float64
 19  10-04-2013  221 non-null    float64
 20  10-06-2013  479 non-null    int64
 21  10-08-2013  224 non-null    float64
 22  10-10-2013  224 non-null    float64
 23  10-12-2013  479 non-null    int64
dtypes: float64(7), int64(11), object(6)
memory usage: 89.9+ KB

### Fixing the Rows and Columns

As you can see, there is a column in “Attribute Dataset” named as ‘Size’. This column contains the values in abbreviation format. Write a code in Python to convert the followings:

- M into  “Medium”
- L into  “Large”
- XL into “Extra large”
- free into “Free”
- S, s & small into “Small”.

Now once you are done with changes in the dataset, what is the value of the lowest percentage, the highest percentage and the percentage of Small size categories in the column named “Size”?


2.9%, 35.7%, 7.5%

In [3]:
#Import the required Libraries.
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from IPython.display import display

def read_data(filename):
    #Read the data in pandas
    inp0= pd.read_csv(filename)    
    return inp0

def display_data(df):
    display(df)

def identify_var_types(col):
    print("\n\nPrinting attributes information\n")
    inp0.info()
    
    print("\n\nPrinting col value counts\n")
    print(col.value_counts())

def value_percentage(col):
    print("\nPrinting col values and percentages")
    print(100 * col.value_counts(normalize=True))

def size_abbreviations(val):
    if val == 'M' : 
        return "Medium"
    elif val == 'L' : 
        return   "Large"
    elif val == 'XL':
        return "Extra large"
    elif val == 'free':
        return "Free"
    elif np.logical_or(np.logical_or(val == 'S',val == 's'), val == 'small') :
        return "Small"
    else:
        return val
    
    OR
    
#     inp0.Size= inp0.Size.replace(['S', 'small', 's'], "Small")

#     inp0.Size= inp0.Size.replace('free', "Free")

#     inp0.Size= inp0.Size.replace('M', "Medium")

#     inp0.Size= inp0.Size.replace('L', "Large") 

#     inp0.Size= inp0.Size.replace('XL', "Extra large")


inp0 = read_data("Attribute DataSet.csv")
display_data(inp0)

#inp1 = read_data("Dress Sales.csv")
#display_data(inp1)

# print("\n\nIdentifying var types === \n")
# identify_var_types(inp0.Price)
# identify_var_types(inp0.Recommendation)
# value_percentage(inp0.Recommendation)

print("\n\n Size Column fixing, correcting size abbreviation\n")
value_percentage(inp0.Size)
inp0.Size = inp0.Size.apply(size_abbreviations)
value_percentage(inp0.Size)

,Dress_ID,Style,Price,Rating,Size,Season,NeckLine,SleeveLength,Material,FabricType,Decoration,Pattern Type,Recommendation
0,1006032852,Sexy,Low,4.6,M,Summer,o-neck,sleevless,NaN,chiffon,ruffles,animal,1
1,1212192089,Casual,Low,0.0,L,Summer,o-neck,Petal,microfiber,NaN,ruffles,animal,0
2,1190380701,vintage,High,0.0,L,Automn,o-neck,full,polyster,NaN,NaN,print,0
3,966005983,Brief,Average,4.6,L,Spring,o-neck,full,silk,chiffon,embroidary,print,1
4,876339541,cute,Low,4.5,M,Summer,o-neck,butterfly,chiffonfabric,chiffon,bow,dot,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
474,990559192,Brief,Average,4.7,M,winter,o-neck,halfsleeve,acrylic,chiffon,NaN,striped,0
475,713391965,Casual,Low,4.7,M,Spring,o-neck,full,polyster,NaN,NaN,solid,1
476,532874347,Casual,Average,4.7,M,Summer,v-neck,full,cotton,NaN,lace,solid,1
477,655464934,Casual,Average,4.6,L,winter,boat-neck,sleevless,silk,broadcloth,applique,print,1
478,919930954,Casual,Low,4.4,free,Summer,v-neck,short,cotton,Corduroy,lace,solid,0

 Size Column fixing, correcting size abbreviation


Printing col values and percentages
M        35.699374
free     34.446764
L        19.415449
S         7.098121
XL        2.922756
s         0.208768
small     0.208768
Name: Size, dtype: float64

Printing col values and percentages
Medium         35.699374
Free           34.446764
Large          19.415449
Small           7.515658
Extra large     2.922756
Name: Size, dtype: float64

In [ ]:
# Print the value counts of each category in "Size" column.

### Impute/Remove Missing values

You are given another dataset named “Dress Sales”. Now if you observe the datatypes of the columns using ‘inp1.info()’ command, you can identify that there are certain columns defined as object data type though they primarily consist of numeric data.

Now, if you try and convert these object data type columns into numeric data type(float), you will come across an error message. Choose the correct option with the reason for the error and also how to remove this error.

The error occurred because there are some blank entries in such specific columns, and when you convert these null values into float, it shows the error message. To remove this error, you need to remove such null values from the dataset.

Error occurred because there are string entries in such columns. You should replace these string values with null values and then convert it into float type.

The error occurred because object type cannot be converted into float type. This error cannot be removed, and you have to deal with the object data types in such columns.

In [4]:
#Import the required Libraries.
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from IPython.display import display

def read_data(filename):
    #Read the data in pandas
    inp0= pd.read_csv(filename)    
    return inp0

def display_data(df):
    display(df)

def identify_var_types(col):
    print("\n\nPrinting attributes information\n")
    inp0.info()
    
    print("\n\nPrinting col value counts\n")
    print(col.value_counts())

def value_percentage(col):
    print("\nPrinting col values and percentages")
    print(100 * col.value_counts(normalize=True))

def size_abbreviations(val):
    if val == 'M' : 
        return "Medium"
    elif val == 'L' : 
        return   "Large"
    elif val == 'XL':
        return "Extra large"
    elif val == 'free':
        return "Free"
    elif np.logical_or(np.logical_or(val == 'S',val == 's'), val == 'small') :
        return "Small"
    else:
        return val
    
    OR
    
#     inp0.Size= inp0.Size.replace(['S', 'small', 's'], "Small")

#     inp0.Size= inp0.Size.replace('free', "Free")

#     inp0.Size= inp0.Size.replace('M', "Medium")

#     inp0.Size= inp0.Size.replace('L', "Large") 

#     inp0.Size= inp0.Size.replace('XL', "Extra large")


inp0 = read_data("Attribute DataSet.csv")
#display_data(inp0)

inp1 = read_data("Dress Sales.csv")
#display_data(inp1)

# print("\n\nIdentifying var types === \n")
# identify_var_types(inp0.Price)
# identify_var_types(inp0.Recommendation)
# value_percentage(inp0.Recommendation)

# print("\n\n Size Column fixing, correcting size abbreviation\n")
# value_percentage(inp0.Size)
# inp0.Size = inp0.Size.apply(size_abbreviations)
# value_percentage(inp0.Size)


# Print the null count of each variables of inp0 and inp1.
inp1.isnull().sum()

Dress_ID        0
29-08-2013      0
31-08-2013      0
09-02-2013      0
09-04-2013      0
09-06-2013      0
09-08-2013      0
09-10-2013      0
09-12-2013      0
14-09-2013      0
16-09-2013      0
18-09-2013      0
20-09-2013      0
22-09-2013      0
24-09-2013      0
26-09-2013    222
28-09-2013      0
30-09-2013    257
10-02-2013    259
10-04-2013    258
10-06-2013      0
10-08-2013    255
10-10-2013    255
10-12-2013      0
dtype: int64

You are given another dataset named “Dress Sales”. Now if you observe the datatypes of the columns using ‘inp1.info()’ command, you can identify that there are certain columns defined as object data type though they primarily consist of numeric data.

Now if you try and convert these object data type columns into numeric data type(float), you will come across an error message. Try to correct this error.

In [5]:
#Import the required Libraries.
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from IPython.display import display

def read_data(filename):
    #Read the data in pandas
    inp0= pd.read_csv(filename)    
    return inp0

def display_data(df):
    display(df)

def identify_var_types(col):
    print("\n\nPrinting attributes information\n")
    inp0.info()
    
    print("\n\nPrinting col value counts\n")
    print(col.value_counts())

def value_percentage(col):
    print("\nPrinting col values and percentages")
    print(100 * col.value_counts(normalize=True))

def size_abbreviations(val):
    if val == 'M' : 
        return "Medium"
    elif val == 'L' : 
        return   "Large"
    elif val == 'XL':
        return "Extra large"
    elif val == 'free':
        return "Free"
    elif np.logical_or(np.logical_or(val == 'S',val == 's'), val == 'small') :
        return "Small"
    else:
        return val
    
    OR
    
#     inp0.Size= inp0.Size.replace(['S', 'small', 's'], "Small")

#     inp0.Size= inp0.Size.replace('free', "Free")

#     inp0.Size= inp0.Size.replace('M', "Medium")

#     inp0.Size= inp0.Size.replace('L', "Large") 

#     inp0.Size= inp0.Size.replace('XL', "Extra large")


inp0 = read_data("Attribute DataSet.csv")
#display_data(inp0)

inp1 = read_data("Dress Sales.csv")
#display_data(inp1)

# print("\n\nIdentifying var types === \n")
# identify_var_types(inp0.Price)
# identify_var_types(inp0.Recommendation)
# value_percentage(inp0.Recommendation)

# print("\n\n Size Column fixing, correcting size abbreviation\n")
# value_percentage(inp0.Size)
# inp0.Size = inp0.Size.apply(size_abbreviations)
# value_percentage(inp0.Size)


# Print the null count of each variables of inp0 and inp1.
inp1.isnull().sum()

# Print the data types information of inp1 i.e. "Dress Sales" data.
inp1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 479 entries, 0 to 478
Data columns (total 24 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Dress_ID    479 non-null    float64
 1   29-08-2013  479 non-null    int64
 2   31-08-2013  479 non-null    int64
 3   09-02-2013  479 non-null    int64
 4   09-04-2013  479 non-null    int64
 5   09-06-2013  479 non-null    int64
 6   09-08-2013  479 non-null    int64
 7   09-10-2013  479 non-null    int64
 8   09-12-2013  479 non-null    object
 9   14-09-2013  479 non-null    object
 10  16-09-2013  479 non-null    object
 11  18-09-2013  479 non-null    object
 12  20-09-2013  479 non-null    object
 13  22-09-2013  479 non-null    object
 14  24-09-2013  479 non-null    int64
 15  26-09-2013  257 non-null    float64
 16  28-09-2013  479 non-null    int64
 17  30-09-2013  222 non-null    float64
 18  10-02-2013  220 non-null    float64
 19  10-04-2013  221 non-null    float64
 20  10-06-2013  479 non-null    int64
 21  10-08-2013  224 non-null    float64
 22  10-10-2013  224 non-null    float64
 23  10-12-2013  479 non-null    int64
dtypes: float64(7), int64(11), object(6)
memory usage: 89.9+ KB

In [60]:
#Import the required Libraries.
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from IPython.display import display

def read_data(filename):
    #Read the data in pandas
    inp0= pd.read_csv(filename)    
    return inp0

def display_data(df):
    display(df)

def identify_var_types(col):
    print("\n\nPrinting attributes information\n")
    inp0.info()
    
    print("\n\nPrinting col value counts\n")
    print(col.value_counts())

def value_percentage(col):
    print("\nPrinting col values and percentages")
    print(100 * col.value_counts(normalize=True))

def size_abbreviations(val):
    if val == 'M' : 
        return "Medium"
    elif val == 'L' : 
        return   "Large"
    elif val == 'XL':
        return "Extra large"
    elif val == 'free':
        return "Free"
    elif np.logical_or(np.logical_or(val == 'S',val == 's'), val == 'small') :
        return "Small"
    else:
        return val
    
    OR
    
#     inp0.Size= inp0.Size.replace(['S', 'small', 's'], "Small")

#     inp0.Size= inp0.Size.replace('free', "Free")

#     inp0.Size= inp0.Size.replace('M', "Medium")

#     inp0.Size= inp0.Size.replace('L', "Large") 

#     inp0.Size= inp0.Size.replace('XL', "Extra large")


inp0 = read_data("Attribute DataSet.csv")
#display_data(inp0)

inp1 = read_data("Dress Sales.csv")
#display_data(inp1)

# print("\n\nIdentifying var types === \n")
# identify_var_types(inp0.Price)
# identify_var_types(inp0.Recommendation)
# value_percentage(inp0.Recommendation)

# print("\n\n Size Column fixing, correcting size abbreviation\n")
# value_percentage(inp0.Size)
# inp0.Size = inp0.Size.apply(size_abbreviations)
# value_percentage(inp0.Size)


# Print the null count of each variables of inp0 and inp1.
inp1.isnull().sum()

# Print the data types information of inp1 i.e. "Dress Sales" data.
inp1.info()

# Try to convert the object type into float type of data. YOU GET ERROR MESSAGE.
#ValueError: could not convert string to float: 'Removed'
inp1["09-12-2013"] = inp1["09-12-2013"].astype("float")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 479 entries, 0 to 478
Data columns (total 24 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Dress_ID    479 non-null    float64
 1   29-08-2013  479 non-null    int64
 2   31-08-2013  479 non-null    int64
 3   09-02-2013  479 non-null    int64
 4   09-04-2013  479 non-null    int64
 5   09-06-2013  479 non-null    int64
 6   09-08-2013  479 non-null    int64
 7   09-10-2013  479 non-null    int64
 8   09-12-2013  479 non-null    object
 9   14-09-2013  479 non-null    object
 10  16-09-2013  479 non-null    object
 11  18-09-2013  479 non-null    object
 12  20-09-2013  479 non-null    object
 13  22-09-2013  479 non-null    object
 14  24-09-2013  479 non-null    int64
 15  26-09-2013  257 non-null    float64
 16  28-09-2013  479 non-null    int64
 17  30-09-2013  222 non-null    float64
 18  10-02-2013  220 non-null    float64
 19  10-04-2013  221 non-null    float64
 20  10-06-2013  479 non-null    int64
 21  10-08-2013  224 non-null    float64
 22  10-10-2013  224 non-null    float64
 23  10-12-2013  479 non-null    int64
dtypes: float64(7), int64(11), object(6)
memory usage: 89.9+ KB

ValueError: could not convert string to float: 'Removed'

In [6]:
#Import the required Libraries.
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from IPython.display import display

def read_data(filename):
    #Read the data in pandas
    inp0= pd.read_csv(filename)    
    return inp0

def display_data(df):
    display(df)

def identify_var_types(col):
    print("\n\nPrinting attributes information\n")
    inp0.info()
    
    print("\n\nPrinting col value counts\n")
    print(col.value_counts())

def value_percentage(col):
    print("\nPrinting col values and percentages")
    print(100 * col.value_counts(normalize=True))

def size_abbreviations(val):
    if val == 'M' : 
        return "Medium"
    elif val == 'L' : 
        return   "Large"
    elif val == 'XL':
        return "Extra large"
    elif val == 'free':
        return "Free"
    elif np.logical_or(np.logical_or(val == 'S',val == 's'), val == 'small') :
        return "Small"
    else:
        return val
    
    OR
    
#     inp0.Size= inp0.Size.replace(['S', 'small', 's'], "Small")

#     inp0.Size= inp0.Size.replace('free', "Free")

#     inp0.Size= inp0.Size.replace('M', "Medium")

#     inp0.Size= inp0.Size.replace('L', "Large") 

#     inp0.Size= inp0.Size.replace('XL', "Extra large")


def convert_cols_to_float(inp1):
#     inp1["09-12-2013"] = inp1["09-12-2013"].apply(lambda x: float(x) if isinstance(x, (int, float)) else np.NaN)
#     inp1["14-09-2013"] = inp1["14-09-2013"].apply(lambda x: float(x) if isinstance(x, (int, float)) else np.NaN)
#     inp1["16-09-2013"] = inp1["16-09-2013"].apply(lambda x: float(x) if isinstance(x, (int, float)) else np.NaN)
#     inp1["18-09-2013"] = inp1["18-09-2013"].apply(lambda x: float(x) if isinstance(x, (int, float)) else np.NaN)
#     inp1["20-09-2013"] = inp1["20-09-2013"].apply(lambda x: float(x) if isinstance(x, (int, float)) else np.NaN)
#     inp1["22-09-2013"] = inp1["22-09-2013"].apply(lambda x: float(x) if isinstance(x, (int, float)) else np.NaN)
#OR
# Error occurred because there are string entries in such columns. 
# You should replace these string values with null values and then convert it into float type.
# Feedback :

# Because there is one string value in each of these columns, it is showing the error. 
# You cannot convert a string into float type, and once you replace string with a null value, 
# you will be able to convert it into float type.

# You can convert the string values into null using the following codes:

    inp1.loc[inp1['09-12-2013']== 'Removed',"09-12-2013"] = np.NaN

    inp1.loc[inp1['14-09-2013']== 'removed',"14-09-2013"] = np.NaN

    inp1.loc[inp1['16-09-2013']== 'removed',"16-09-2013"] = np.NaN

    inp1.loc[inp1['18-09-2013']== 'removed',"18-09-2013"] = np.NaN

    inp1.loc[inp1['20-09-2013']== 'removed',"20-09-2013"] = np.NaN

    inp1.loc[inp1['22-09-2013']== 'Orders',"22-09-2013"] = np.NaN


inp0 = read_data("Attribute DataSet.csv")
#display_data(inp0)

inp1 = read_data("Dress Sales.csv")
#display_data(inp1)

# print("\n\nIdentifying var types === \n")
# identify_var_types(inp0.Price)
# identify_var_types(inp0.Recommendation)
# value_percentage(inp0.Recommendation)

# print("\n\n Size Column fixing, correcting size abbreviation\n")
# value_percentage(inp0.Size)
# inp0.Size = inp0.Size.apply(size_abbreviations)
# value_percentage(inp0.Size)


# Print the null count of each variables of inp0 and inp1.
#inp1.isnull().sum()

# Print the data types information of inp1 i.e. "Dress Sales" data.
#inp1.info()

# Try to convert the object type into float type of data. YOU GET ERROR MESSAGE.
#ValueError: could not convert string to float: 'Removed'
convert_cols_to_float(inp1)
inp1.info()

# Do the required changes in the "Dress Sales" data set to get null values on string values.
inp1.isnull().sum()

# inp1["09-12-2013"].isnull().value_counts()
# inp1["14-09-2013"].isnull().value_counts()
# inp1["16-09-2013"].isnull().value_counts()
# inp1["18-09-2013"].isnull().value_counts()
# inp1["20-09-2013"].isnull().value_counts()
# inp1["22-09-2013"].isnull().value_counts()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 479 entries, 0 to 478
Data columns (total 24 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Dress_ID    479 non-null    float64
 1   29-08-2013  479 non-null    int64
 2   31-08-2013  479 non-null    int64
 3   09-02-2013  479 non-null    int64
 4   09-04-2013  479 non-null    int64
 5   09-06-2013  479 non-null    int64
 6   09-08-2013  479 non-null    int64
 7   09-10-2013  479 non-null    int64
 8   09-12-2013  478 non-null    object
 9   14-09-2013  478 non-null    object
 10  16-09-2013  478 non-null    object
 11  18-09-2013  478 non-null    object
 12  20-09-2013  478 non-null    object
 13  22-09-2013  478 non-null    object
 14  24-09-2013  479 non-null    int64
 15  26-09-2013  257 non-null    float64
 16  28-09-2013  479 non-null    int64
 17  30-09-2013  222 non-null    float64
 18  10-02-2013  220 non-null    float64
 19  10-04-2013  221 non-null    float64
 20  10-06-2013  479 non-null    int64
 21  10-08-2013  224 non-null    float64
 22  10-10-2013  224 non-null    float64
 23  10-12-2013  479 non-null    int64
dtypes: float64(7), int64(11), object(6)
memory usage: 89.9+ KB

Dress_ID        0
29-08-2013      0
31-08-2013      0
09-02-2013      0
09-04-2013      0
09-06-2013      0
09-08-2013      0
09-10-2013      0
09-12-2013      1
14-09-2013      1
16-09-2013      1
18-09-2013      1
20-09-2013      1
22-09-2013      1
24-09-2013      0
26-09-2013    222
28-09-2013      0
30-09-2013    257
10-02-2013    259
10-04-2013    258
10-06-2013      0
10-08-2013    255
10-10-2013    255
10-12-2013      0
dtype: int64

In [64]:
# Convert the object type columns in "Dress Sales" into float type of data type.

When you see the null counts in “Dress Sales” dataset after performing all the operations that have been mentioned in jupyter notebook, you will find that there are some columns in “Dress Sales” data where there are more than 40% of missing values. Based on your understanding of dealing with missing values do the following steps.


Handling Missing Values

When you see the null counts in “Dress Sales” dataset after performing all the operations that have been mentioned in Jupyter notebook, you will find that there are some columns in “Dress Sales” data where the number of missing values is more than 40%. Based on your understanding of dealing with missing values, select the most appropriate statement, with the reason.


These columns can be removed because they have a huge number of missing values. Moreover, if you see, the number of sales (numerical values) in such columns is not so high as compared to other Date columns. Hence, it is safe to remove such columns.
Feedback :

The huge number of missing values in such columns is one of the criteria, but another major criterion is that these dates have very small sales values and it is safe to remove them. You can refer to the following code to perform this operation:

In [7]:
# Print the null percetange of each column of inp1.
#Import the required Libraries.
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from IPython.display import display

def read_data(filename):
    #Read the data in pandas
    inp0= pd.read_csv(filename)    
    return inp0

def display_data(df):
    display(df)

def identify_var_types(col):
    print("\n\nPrinting attributes information\n")
    inp0.info()
    
    print("\n\nPrinting col value counts\n")
    print(col.value_counts())

def value_percentage(col):
    print("\nPrinting col values and percentages")
    print(100 * col.value_counts(normalize=True))

def size_abbreviations(val):
    if val == 'M' : 
        return "Medium"
    elif val == 'L' : 
        return   "Large"
    elif val == 'XL':
        return "Extra large"
    elif val == 'free':
        return "Free"
    elif np.logical_or(np.logical_or(val == 'S',val == 's'), val == 'small') :
        return "Small"
    else:
        return val
    
    OR
    
#     inp0.Size= inp0.Size.replace(['S', 'small', 's'], "Small")

#     inp0.Size= inp0.Size.replace('free', "Free")

#     inp0.Size= inp0.Size.replace('M', "Medium")

#     inp0.Size= inp0.Size.replace('L', "Large") 

#     inp0.Size= inp0.Size.replace('XL', "Extra large")


def convert_cols_to_float(inp1):
#     inp1["09-12-2013"] = inp1["09-12-2013"].apply(lambda x: float(x) if isinstance(x, (int, float)) else np.NaN)
#     inp1["14-09-2013"] = inp1["14-09-2013"].apply(lambda x: float(x) if isinstance(x, (int, float)) else np.NaN)
#     inp1["16-09-2013"] = inp1["16-09-2013"].apply(lambda x: float(x) if isinstance(x, (int, float)) else np.NaN)
#     inp1["18-09-2013"] = inp1["18-09-2013"].apply(lambda x: float(x) if isinstance(x, (int, float)) else np.NaN)
#     inp1["20-09-2013"] = inp1["20-09-2013"].apply(lambda x: float(x) if isinstance(x, (int, float)) else np.NaN)
#     inp1["22-09-2013"] = inp1["22-09-2013"].apply(lambda x: float(x) if isinstance(x, (int, float)) else np.NaN)
#OR
# Error occurred because there are string entries in such columns. 
# You should replace these string values with null values and then convert it into float type.
# Feedback :

# Because there is one string value in each of these columns, it is showing the error. 
# You cannot convert a string into float type, and once you replace string with a null value, 
# you will be able to convert it into float type.

# You can convert the string values into null using the following codes:

    inp1.loc[inp1['09-12-2013']== 'Removed',"09-12-2013"] = np.NaN

    inp1.loc[inp1['14-09-2013']== 'removed',"14-09-2013"] = np.NaN

    inp1.loc[inp1['16-09-2013']== 'removed',"16-09-2013"] = np.NaN

    inp1.loc[inp1['18-09-2013']== 'removed',"18-09-2013"] = np.NaN

    inp1.loc[inp1['20-09-2013']== 'removed',"20-09-2013"] = np.NaN

    inp1.loc[inp1['22-09-2013']== 'Orders',"22-09-2013"] = np.NaN


inp0 = read_data("Attribute DataSet.csv")
#display_data(inp0)

inp1 = read_data("Dress Sales.csv")
#display_data(inp1)

# print("\n\nIdentifying var types === \n")
# identify_var_types(inp0.Price)
# identify_var_types(inp0.Recommendation)
# value_percentage(inp0.Recommendation)

# print("\n\n Size Column fixing, correcting size abbreviation\n")
# value_percentage(inp0.Size)
# inp0.Size = inp0.Size.apply(size_abbreviations)
# value_percentage(inp0.Size)


# Print the null count of each variables of inp0 and inp1.
#inp1.isnull().sum()

# Print the data types information of inp1 i.e. "Dress Sales" data.
#inp1.info()

# Try to convert the object type into float type of data. YOU GET ERROR MESSAGE.
#ValueError: could not convert string to float: 'Removed'
convert_cols_to_float(inp1)
#inp1.info()

# Do the required changes in the "Dress Sales" data set to get null values on string values.
inp1.isnull().sum().value_counts(normalize=True)

# inp1["09-12-2013"].isnull().value_counts()
# inp1["14-09-2013"].isnull().value_counts()
# inp1["16-09-2013"].isnull().value_counts()
# inp1["18-09-2013"].isnull().value_counts()
# inp1["20-09-2013"].isnull().value_counts()
# inp1["22-09-2013"].isnull().value_counts()

0      0.500000
1      0.250000
255    0.083333
222    0.041667
257    0.041667
259    0.041667
258    0.041667
dtype: float64

In [8]:
# Print the null percetange of each column of inp1.
#Import the required Libraries.
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from IPython.display import display

def read_data(filename):
    #Read the data in pandas
    inp0= pd.read_csv(filename)    
    return inp0

def display_data(df):
    display(df)

def identify_var_types(col):
    print("\n\nPrinting attributes information\n")
    inp0.info()
    
    print("\n\nPrinting col value counts\n")
    print(col.value_counts())

def value_percentage(col):
    print("\nPrinting col values and percentages")
    print(100 * col.value_counts(normalize=True))

def size_abbreviations(val):
    if val == 'M' : 
        return "Medium"
    elif val == 'L' : 
        return   "Large"
    elif val == 'XL':
        return "Extra large"
    elif val == 'free':
        return "Free"
    elif np.logical_or(np.logical_or(val == 'S',val == 's'), val == 'small') :
        return "Small"
    else:
        return val
    
    OR
    
#     inp0.Size= inp0.Size.replace(['S', 'small', 's'], "Small")

#     inp0.Size= inp0.Size.replace('free', "Free")

#     inp0.Size= inp0.Size.replace('M', "Medium")

#     inp0.Size= inp0.Size.replace('L', "Large") 

#     inp0.Size= inp0.Size.replace('XL', "Extra large")


def convert_cols_to_float(inp1):
#     inp1["09-12-2013"] = inp1["09-12-2013"].apply(lambda x: float(x) if isinstance(x, (int, float)) else np.NaN)
#     inp1["14-09-2013"] = inp1["14-09-2013"].apply(lambda x: float(x) if isinstance(x, (int, float)) else np.NaN)
#     inp1["16-09-2013"] = inp1["16-09-2013"].apply(lambda x: float(x) if isinstance(x, (int, float)) else np.NaN)
#     inp1["18-09-2013"] = inp1["18-09-2013"].apply(lambda x: float(x) if isinstance(x, (int, float)) else np.NaN)
#     inp1["20-09-2013"] = inp1["20-09-2013"].apply(lambda x: float(x) if isinstance(x, (int, float)) else np.NaN)
#     inp1["22-09-2013"] = inp1["22-09-2013"].apply(lambda x: float(x) if isinstance(x, (int, float)) else np.NaN)
#OR
# Error occurred because there are string entries in such columns. 
# You should replace these string values with null values and then convert it into float type.
# Feedback :

# Because there is one string value in each of these columns, it is showing the error. 
# You cannot convert a string into float type, and once you replace string with a null value, 
# you will be able to convert it into float type.

# You can convert the string values into null using the following codes:
    inp1.loc[inp1['09-12-2013']== 'Removed',"09-12-2013"] = np.NaN
    inp1.loc[inp1['14-09-2013']== 'removed',"14-09-2013"] = np.NaN
    inp1.loc[inp1['16-09-2013']== 'removed',"16-09-2013"] = np.NaN
    inp1.loc[inp1['18-09-2013']== 'removed',"18-09-2013"] = np.NaN
    inp1.loc[inp1['20-09-2013']== 'removed',"20-09-2013"] = np.NaN
    inp1.loc[inp1['22-09-2013']== 'Orders',"22-09-2013"] = np.NaN
    return inp1

def correct_cols_drop_blank_cols(inp1):
    

    # Do the required changes in the "Dress Sales" data set to get null values on string values.
    inp1.isnull().sum().value_counts(normalize=True)

    # Drop the columns in "Dress Sales" which have more than 40% of missing values.
    #inp1 = inp1.dropna(thresh=inp1.shape[0]*0.4,how='all',axis=1)

    #OR
    inp1= inp1.drop(["26-09-2013"] , axis= 1)

    inp1= inp1.drop(["30-09-2013"] , axis= 1)

    inp1= inp1.drop(["10-02-2013"] , axis= 1)

    inp1= inp1.drop(["10-04-2013"] , axis= 1)

    inp1= inp1.drop(["10-08-2013"] , axis= 1)

    inp1= inp1.drop(["10-10-2013"] , axis= 1)
    return inp1

inp0 = read_data("Attribute DataSet.csv")
#display_data(inp0)

inp1 = read_data("Dress Sales.csv")
#display_data(inp1)

# print("\n\nIdentifying var types === \n")
# identify_var_types(inp0.Price)
# identify_var_types(inp0.Recommendation)
# value_percentage(inp0.Recommendation)

# print("\n\n Size Column fixing, correcting size abbreviation\n")
# value_percentage(inp0.Size)
# inp0.Size = inp0.Size.apply(size_abbreviations)
# value_percentage(inp0.Size)


# Print the null count of each variables of inp0 and inp1.
# Print the data types information of inp1 i.e. "Dress Sales" data.
# Try to convert the object type into float type of data. YOU GET ERROR MESSAGE.
#ValueError: could not convert string to float: 'Removed'
#inp1.info()
inp1 = convert_cols_to_float(inp1)

print(inp1.isnull().sum())
inp1 = correct_cols_drop_blank_cols(inp1)
print(inp1.isnull().sum())

Dress_ID        0
29-08-2013      0
31-08-2013      0
09-02-2013      0
09-04-2013      0
09-06-2013      0
09-08-2013      0
09-10-2013      0
09-12-2013      1
14-09-2013      1
16-09-2013      1
18-09-2013      1
20-09-2013      1
22-09-2013      1
24-09-2013      0
26-09-2013    222
28-09-2013      0
30-09-2013    257
10-02-2013    259
10-04-2013    258
10-06-2013      0
10-08-2013    255
10-10-2013    255
10-12-2013      0
dtype: int64
Dress_ID      0
29-08-2013    0
31-08-2013    0
09-02-2013    0
09-04-2013    0
09-06-2013    0
09-08-2013    0
09-10-2013    0
09-12-2013    1
14-09-2013    1
16-09-2013    1
18-09-2013    1
20-09-2013    1
22-09-2013    1
24-09-2013    0
28-09-2013    0
10-06-2013    0
10-12-2013    0
dtype: int64

You should categorise the dates into seasons in “Dress Sales” data to simplify the analysis according to the following criteria:
- June, July and August: Summer.
- September, October and November: Autumn.
- December, January and February: WInter.
- March, April and May: Spring.


Which of the seasons has the lowest sales among all the seasons, and what is its value?
Spring, 135343

Spring, 143600
Feedback :

Write the code to club the dates into seasons according to the criteria and then find the sum of each season in “Dress Sales”. You can refer to the following code to perform such an operation:

inp1['Spring'] = inp1.apply(lambda x: x['09-04-2013'], axis=1)

inp1['Summer'] = inp1.apply(lambda x: x['29-08-2013'] + x['31-08-2013']+ x['09-06-2013']+ x['09-08-2013']+ x['10-06-2013'], axis=1)

inp1['Winter'] = inp1.apply(lambda x: x['09-02-2013'] + x['09-12-2013']+ x['10-12-2013'], axis=1)

inp1['Autumn'] = inp1.apply(lambda x: x['09-10-2013'] + x['14-09-2013']+ x['16-09-2013']+ x['18-09-2013']+ x['20-09-2013']+ x['22-09-2013']+ x['24-09-2013']+ x['28-09-2013'], axis=1)

Correct

Autumn, 135343

Autumn, 143600

In [10]:
# Print the null percetange of each column of inp1.
#Import the required Libraries.
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from IPython.display import display

def read_data(filename):
    #Read the data in pandas
    inp0= pd.read_csv(filename)    
    return inp0

def display_data(df):
    display(df)

def identify_var_types(col):
    print("\n\nPrinting attributes information\n")
    inp0.info()
    
    print("\n\nPrinting col value counts\n")
    print(col.value_counts())

def value_percentage(col):
    print("\nPrinting col values and percentages")
    print(100 * col.value_counts(normalize=True))

def size_abbreviations(val):
    if val == 'M' : 
        return "Medium"
    elif val == 'L' : 
        return   "Large"
    elif val == 'XL':
        return "Extra large"
    elif val == 'free':
        return "Free"
    elif np.logical_or(np.logical_or(val == 'S',val == 's'), val == 'small') :
        return "Small"
    else:
        return val
    
    OR
    
#     inp0.Size= inp0.Size.replace(['S', 'small', 's'], "Small")

#     inp0.Size= inp0.Size.replace('free', "Free")

#     inp0.Size= inp0.Size.replace('M', "Medium")

#     inp0.Size= inp0.Size.replace('L', "Large") 

#     inp0.Size= inp0.Size.replace('XL', "Extra large")


def convert_cols_to_float(inp1):
#     inp1["09-12-2013"] = inp1["09-12-2013"].apply(lambda x: float(x) if isinstance(x, (int, float)) else np.NaN)
#     inp1["14-09-2013"] = inp1["14-09-2013"].apply(lambda x: float(x) if isinstance(x, (int, float)) else np.NaN)
#     inp1["16-09-2013"] = inp1["16-09-2013"].apply(lambda x: float(x) if isinstance(x, (int, float)) else np.NaN)
#     inp1["18-09-2013"] = inp1["18-09-2013"].apply(lambda x: float(x) if isinstance(x, (int, float)) else np.NaN)
#     inp1["20-09-2013"] = inp1["20-09-2013"].apply(lambda x: float(x) if isinstance(x, (int, float)) else np.NaN)
#     inp1["22-09-2013"] = inp1["22-09-2013"].apply(lambda x: float(x) if isinstance(x, (int, float)) else np.NaN)
#OR
# Error occurred because there are string entries in such columns. 
# You should replace these string values with null values and then convert it into float type.
# Feedback :

# Because there is one string value in each of these columns, it is showing the error. 
# You cannot convert a string into float type, and once you replace string with a null value, 
# you will be able to convert it into float type.

# You can convert the string values into null using the following codes:
    inp1.loc[inp1['09-12-2013']== 'Removed',"09-12-2013"] = np.NaN
    inp1.loc[inp1['14-09-2013']== 'removed',"14-09-2013"] = np.NaN
    inp1.loc[inp1['16-09-2013']== 'removed',"16-09-2013"] = np.NaN
    inp1.loc[inp1['18-09-2013']== 'removed',"18-09-2013"] = np.NaN
    inp1.loc[inp1['20-09-2013']== 'removed',"20-09-2013"] = np.NaN
    inp1.loc[inp1['22-09-2013']== 'Orders',"22-09-2013"] = np.NaN
    return inp1

def correct_cols_drop_blank_cols(inp1):
    

    # Do the required changes in the "Dress Sales" data set to get null values on string values.
    inp1.isnull().sum().value_counts(normalize=True)

    # Drop the columns in "Dress Sales" which have more than 40% of missing values.
    #inp1 = inp1.dropna(thresh=inp1.shape[0]*0.4,how='all',axis=1)

    #OR
    inp1= inp1.drop(["26-09-2013"] , axis= 1)

    inp1= inp1.drop(["30-09-2013"] , axis= 1)

    inp1= inp1.drop(["10-02-2013"] , axis= 1)

    inp1= inp1.drop(["10-04-2013"] , axis= 1)

    inp1= inp1.drop(["10-08-2013"] , axis= 1)

    inp1= inp1.drop(["10-10-2013"] , axis= 1)
    return inp1

def seasonwise_sale(inp1):
    # Create the four seasons columns in inp1, according to the above criteria.
    # June, July and August - 8: Summer.
    # - September, October and November - 11: Autumn.
    # - December, January and February - 2: WInter.
    # - March, April and May - 5: Spring.

    inp1.info()

    summer_col = inp1.loc[: , ["29-08-2013","31-08-2013","09-08-2013",
                               "09-06-2013","10-06-2013"]]
    inp1['Summer'] = summer_col.sum(axis=1)

    winter_col = inp1.loc[: , ["09-02-2013","09-12-2013","10-12-2013"]]
    inp1['Winter'] = winter_col.sum(axis=1)

    autumn_col = inp1.loc[: , ["09-10-2013","14-09-2013","16-09-2013","18-09-2013",
                               "20-09-2013","22-09-2013","24-09-2013","28-09-2013"]]
    inp1['Autumn'] = autumn_col.sum(axis=1)

    spring_col = inp1.loc[: , ["09-04-2013"]]
    inp1['Spring'] = spring_col.sum(axis=1)


    inp1.info()

    return inp1

    # OR
    #Correct
    # Spring, 143600
    # # Feedback :

    # # Write the code to club the dates into seasons according to the criteria and then find the sum of each season in “Dress Sales”. You can refer to the following code to perform such an operation:

#     inp1['Spring'] = inp1.apply(lambda x: x['09-04-2013'], axis=1)
#     inp1['Summer'] = inp1.apply(lambda x: x['29-08-2013'] + x['31-08-2013']+ x['09-06-2013']+ x['09-08-2013']+ x['10-06-2013'], axis=1)
#     inp1['Winter'] = inp1.apply(lambda x: x['09-02-2013'] + x['09-12-2013']+ x['10-12-2013'], axis=1)
#     inp1['Autumn'] = inp1.apply(lambda x: x['09-10-2013'] + x['14-09-2013']+ x['16-09-2013']+ x['18-09-2013']+ x['20-09-2013']+ x['22-09-2013']+ x['24-09-2013']+ x['28-09-2013'], axis=1)

    return inp1


inp0 = read_data("Attribute DataSet.csv")
#display_data(inp0)

inp1 = read_data("Dress Sales.csv")
#display_data(inp1)

# print("\n\nIdentifying var types === \n")
# identify_var_types(inp0.Price)
# identify_var_types(inp0.Recommendation)
# value_percentage(inp0.Recommendation)

# print("\n\n Size Column fixing, correcting size abbreviation\n")
# value_percentage(inp0.Size)
# inp0.Size = inp0.Size.apply(size_abbreviations)
# value_percentage(inp0.Size)


# Print the null count of each variables of inp0 and inp1.
# Print the data types information of inp1 i.e. "Dress Sales" data.
# Try to convert the object type into float type of data. YOU GET ERROR MESSAGE.
#ValueError: could not convert string to float: 'Removed'
# inp1.info()
inp1 = convert_cols_to_float(inp1)

# print(inp1.isnull().sum())
inp1 = correct_cols_drop_blank_cols(inp1)
# print(inp1.isnull().sum())


inp1 = seasonwise_sale(inp1)
print("Summer : ",inp1.Summer.sum())
print("Winter : ", inp1.Winter.sum())
print("Autumn : ",inp1.Autumn.sum())
print("Spring : ",inp1.Spring.sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 479 entries, 0 to 478
Data columns (total 18 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Dress_ID    479 non-null    float64
 1   29-08-2013  479 non-null    int64
 2   31-08-2013  479 non-null    int64
 3   09-02-2013  479 non-null    int64
 4   09-04-2013  479 non-null    int64
 5   09-06-2013  479 non-null    int64
 6   09-08-2013  479 non-null    int64
 7   09-10-2013  479 non-null    int64
 8   09-12-2013  478 non-null    object
 9   14-09-2013  478 non-null    object
 10  16-09-2013  478 non-null    object
 11  18-09-2013  478 non-null    object
 12  20-09-2013  478 non-null    object
 13  22-09-2013  478 non-null    object
 14  24-09-2013  479 non-null    int64
 15  28-09-2013  479 non-null    int64
 16  10-06-2013  479 non-null    int64
 17  10-12-2013  479 non-null    int64
dtypes: float64(1), int64(11), object(6)
memory usage: 67.5+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 479 entries, 0 to 478
Data columns (total 22 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Dress_ID    479 non-null    float64
 1   29-08-2013  479 non-null    int64
 2   31-08-2013  479 non-null    int64
 3   09-02-2013  479 non-null    int64
 4   09-04-2013  479 non-null    int64
 5   09-06-2013  479 non-null    int64
 6   09-08-2013  479 non-null    int64
 7   09-10-2013  479 non-null    int64
 8   09-12-2013  478 non-null    object
 9   14-09-2013  478 non-null    object
 10  16-09-2013  478 non-null    object
 11  18-09-2013  478 non-null    object
 12  20-09-2013  478 non-null    object
 13  22-09-2013  478 non-null    object
 14  24-09-2013  479 non-null    int64
 15  28-09-2013  479 non-null    int64
 16  10-06-2013  479 non-null    int64
 17  10-12-2013  479 non-null    int64
 18  Summer      479 non-null    int64
 19  Winter      479 non-null    int64
 20  Autumn      479 non-null    int64
 21  Spring      479 non-null    int64
dtypes: float64(1), int64(15), object(6)
memory usage: 82.5+ KB
Summer :  691907
Winter :  314990
Autumn :  518580
Spring :  143600

In [ ]:
# calculate the sum of sales in each seasons in inp1 i.e. "Dress Sales".

Now let's merge inp1 with inp0 with left join manner, so that the information of inp0 should remain intact.

In [189]:
# Print the null percetange of each column of inp1.
#Import the required Libraries.
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from IPython.display import display

def read_data(filename):
    #Read the data in pandas
    inp0= pd.read_csv(filename)    
    return inp0

def display_data(df):
    display(df)

def identify_var_types(col):
    print("\n\nPrinting attributes information\n")
    inp0.info()
    
    print("\n\nPrinting col value counts\n")
    print(col.value_counts())

def value_percentage(col):
    print("\nPrinting col values and percentages")
    print(100 * col.value_counts(normalize=True))

def size_abbreviations(val):
    if val == 'M' : 
        return "Medium"
    elif val == 'L' : 
        return   "Large"
    elif val == 'XL':
        return "Extra large"
    elif val == 'free':
        return "Free"
    elif np.logical_or(np.logical_or(val == 'S',val == 's'), val == 'small') :
        return "Small"
    else:
        return val
    
    OR
    
#     inp0.Size= inp0.Size.replace(['S', 'small', 's'], "Small")

#     inp0.Size= inp0.Size.replace('free', "Free")

#     inp0.Size= inp0.Size.replace('M', "Medium")

#     inp0.Size= inp0.Size.replace('L', "Large") 

#     inp0.Size= inp0.Size.replace('XL', "Extra large")


def convert_cols_to_float(inp1):
#     inp1["09-12-2013"] = inp1["09-12-2013"].apply(lambda x: float(x) if isinstance(x, (int, float)) else np.NaN)
#     inp1["14-09-2013"] = inp1["14-09-2013"].apply(lambda x: float(x) if isinstance(x, (int, float)) else np.NaN)
#     inp1["16-09-2013"] = inp1["16-09-2013"].apply(lambda x: float(x) if isinstance(x, (int, float)) else np.NaN)
#     inp1["18-09-2013"] = inp1["18-09-2013"].apply(lambda x: float(x) if isinstance(x, (int, float)) else np.NaN)
#     inp1["20-09-2013"] = inp1["20-09-2013"].apply(lambda x: float(x) if isinstance(x, (int, float)) else np.NaN)
#     inp1["22-09-2013"] = inp1["22-09-2013"].apply(lambda x: float(x) if isinstance(x, (int, float)) else np.NaN)
#OR
# Error occurred because there are string entries in such columns. 
# You should replace these string values with null values and then convert it into float type.
# Feedback :

# Because there is one string value in each of these columns, it is showing the error. 
# You cannot convert a string into float type, and once you replace string with a null value, 
# you will be able to convert it into float type.

# You can convert the string values into null using the following codes:
    inp1.loc[inp1['09-12-2013']== 'Removed',"09-12-2013"] = np.NaN
    inp1.loc[inp1['14-09-2013']== 'removed',"14-09-2013"] = np.NaN
    inp1.loc[inp1['16-09-2013']== 'removed',"16-09-2013"] = np.NaN
    inp1.loc[inp1['18-09-2013']== 'removed',"18-09-2013"] = np.NaN
    inp1.loc[inp1['20-09-2013']== 'removed',"20-09-2013"] = np.NaN
    inp1.loc[inp1['22-09-2013']== 'Orders',"22-09-2013"] = np.NaN
    return inp1

def correct_cols_drop_blank_cols(inp1):
    

    # Do the required changes in the "Dress Sales" data set to get null values on string values.
    inp1.isnull().sum().value_counts(normalize=True)

    # Drop the columns in "Dress Sales" which have more than 40% of missing values.
    #inp1 = inp1.dropna(thresh=inp1.shape[0]*0.4,how='all',axis=1)

    #OR
    inp1= inp1.drop(["26-09-2013"] , axis= 1)

    inp1= inp1.drop(["30-09-2013"] , axis= 1)

    inp1= inp1.drop(["10-02-2013"] , axis= 1)

    inp1= inp1.drop(["10-04-2013"] , axis= 1)

    inp1= inp1.drop(["10-08-2013"] , axis= 1)

    inp1= inp1.drop(["10-10-2013"] , axis= 1)
    return inp1

def seasonwise_sale(inp1):
    # Create the four seasons columns in inp1, according to the above criteria.
    # June, July and August - 8: Summer.
    # - September, October and November - 11: Autumn.
    # - December, January and February - 2: WInter.
    # - March, April and May - 5: Spring.
    summer_col = inp1.loc[: , ["29-08-2013","31-08-2013","09-08-2013",
                               "09-06-2013","10-06-2013"]]
    inp1['Summer'] = summer_col.sum(axis=1)

    winter_col = inp1.loc[: , ["09-02-2013","09-12-2013","10-12-2013"]]
    inp1['Winter'] = winter_col.sum(axis=1)

    autumn_col = inp1.loc[: , ["09-10-2013","14-09-2013","16-09-2013","18-09-2013",
                               "20-09-2013","22-09-2013","24-09-2013","28-09-2013"]]
    inp1['Autumn'] = autumn_col.sum(axis=1)

    spring_col = inp1.loc[: , ["09-04-2013"]]
    inp1['Spring'] = spring_col.sum(axis=1)

    return inp1

    # OR
    #Correct
    # Spring, 143600
    # # Feedback :

    # # Write the code to club the dates into seasons according to the criteria
#     and then find the sum of each season in “Dress Sales”. You can refer to the 
#     following code to perform such an operation:

#     inp1['Spring'] = inp1.apply(lambda x: x['09-04-2013'], axis=1)
#     inp1['Summer'] = inp1.apply(lambda x: x['29-08-2013'] + x['31-08-2013']+ x['09-06-2013']+ x['09-08-2013']+ x['10-06-2013'], axis=1)
#     inp1['Winter'] = inp1.apply(lambda x: x['09-02-2013'] + x['09-12-2013']+ x['10-12-2013'], axis=1)
#     inp1['Autumn'] = inp1.apply(lambda x: x['09-10-2013'] + x['14-09-2013']+ x['16-09-2013']+ x['18-09-2013']+ x['20-09-2013']+ x['22-09-2013']+ x['24-09-2013']+ x['28-09-2013'], axis=1)

#     return inp1


inp0 = read_data("Attribute DataSet.csv")
#display_data(inp0)

inp1 = read_data("Dress Sales.csv")
#display_data(inp1)

# print("\n\nIdentifying var types === \n")
# identify_var_types(inp0.Price)
# identify_var_types(inp0.Recommendation)
# value_percentage(inp0.Recommendation)

# print("\n\n Size Column fixing, correcting size abbreviation\n")
# value_percentage(inp0.Size)
# inp0.Size = inp0.Size.apply(size_abbreviations)
# value_percentage(inp0.Size)


# Print the null count of each variables of inp0 and inp1.
# Print the data types information of inp1 i.e. "Dress Sales" data.
# Try to convert the object type into float type of data. YOU GET ERROR MESSAGE.
#ValueError: could not convert string to float: 'Removed'
# inp1.info()
inp1 = convert_cols_to_float(inp1)

# print(inp1.isnull().sum())
inp1 = correct_cols_drop_blank_cols(inp1)
# print(inp1.isnull().sum())

# inp1.info()
inp1 = seasonwise_sale(inp1)
# inp1.info()
# print("Summer : ",inp1.Summer.sum())
# print("Winter : ", inp1.Winter.sum())
# print("Autumn : ",inp1.Autumn.sum())
# print("Spring : ",inp1.Spring.sum())

# Merge inp0 with inp1 into inp0. this is also called left merge.
inp0 = pd.merge(left=inp0,right=inp1, how='left', left_on='Dress_ID', right_on='Dress_ID')
inp0.head()

,Dress_ID,Style,Price,Rating,Size,Season,NeckLine,SleeveLength,Material,FabricType,...,20-09-2013,22-09-2013,24-09-2013,28-09-2013,10-06-2013,10-12-2013,Summer,Winter,Autumn,Spring
0,1006032852,Sexy,Low,4.6,M,Summer,o-neck,sleevless,NaN,chiffon,...,3386,3479,3554,3706,3897,4048,13899,6539,10190,2660
1,1212192089,Casual,Low,0.0,L,Summer,o-neck,Petal,microfiber,NaN,...,2106,2454,2710,3258,3911,4277,6216,4847,7132,750
2,1190380701,vintage,High,0.0,L,Automn,o-neck,full,polyster,NaN,...,10,11,11,11,11,11,40,18,31,7
3,966005983,Brief,Average,4.6,L,Spring,o-neck,full,silk,chiffon,...,1812,1845,1878,1914,1952,1963,7213,3289,5429,1455
4,876339541,cute,Low,4.5,M,Summer,o-neck,butterfly,chiffonfabric,chiffon,...,1824,1919,2032,2252,2544,2736,7706,4040,5854,1396

In [190]:
# Print the null percetange of each column of inp1.
#Import the required Libraries.
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from IPython.display import display

def read_data(filename):
    #Read the data in pandas
    inp0= pd.read_csv(filename)    
    return inp0

def display_data(df):
    display(df)

def identify_var_types(col):
    print("\n\nPrinting attributes information\n")
    inp0.info()
    
    print("\n\nPrinting col value counts\n")
    print(col.value_counts())

def value_percentage(col):
    print("\nPrinting col values and percentages")
    print(100 * col.value_counts(normalize=True))

def size_abbreviations(val):
    if val == 'M' : 
        return "Medium"
    elif val == 'L' : 
        return   "Large"
    elif val == 'XL':
        return "Extra large"
    elif val == 'free':
        return "Free"
    elif np.logical_or(np.logical_or(val == 'S',val == 's'), val == 'small') :
        return "Small"
    else:
        return val
    
    OR
    
#     inp0.Size= inp0.Size.replace(['S', 'small', 's'], "Small")

#     inp0.Size= inp0.Size.replace('free', "Free")

#     inp0.Size= inp0.Size.replace('M', "Medium")

#     inp0.Size= inp0.Size.replace('L', "Large") 

#     inp0.Size= inp0.Size.replace('XL', "Extra large")


def convert_cols_to_float(inp1):
#     inp1["09-12-2013"] = inp1["09-12-2013"].apply(lambda x: float(x) if isinstance(x, (int, float)) else np.NaN)
#     inp1["14-09-2013"] = inp1["14-09-2013"].apply(lambda x: float(x) if isinstance(x, (int, float)) else np.NaN)
#     inp1["16-09-2013"] = inp1["16-09-2013"].apply(lambda x: float(x) if isinstance(x, (int, float)) else np.NaN)
#     inp1["18-09-2013"] = inp1["18-09-2013"].apply(lambda x: float(x) if isinstance(x, (int, float)) else np.NaN)
#     inp1["20-09-2013"] = inp1["20-09-2013"].apply(lambda x: float(x) if isinstance(x, (int, float)) else np.NaN)
#     inp1["22-09-2013"] = inp1["22-09-2013"].apply(lambda x: float(x) if isinstance(x, (int, float)) else np.NaN)
#OR
# Error occurred because there are string entries in such columns. 
# You should replace these string values with null values and then convert it into float type.
# Feedback :

# Because there is one string value in each of these columns, it is showing the error. 
# You cannot convert a string into float type, and once you replace string with a null value, 
# you will be able to convert it into float type.

# You can convert the string values into null using the following codes:
    inp1.loc[inp1['09-12-2013']== 'Removed',"09-12-2013"] = np.NaN
    inp1.loc[inp1['14-09-2013']== 'removed',"14-09-2013"] = np.NaN
    inp1.loc[inp1['16-09-2013']== 'removed',"16-09-2013"] = np.NaN
    inp1.loc[inp1['18-09-2013']== 'removed',"18-09-2013"] = np.NaN
    inp1.loc[inp1['20-09-2013']== 'removed',"20-09-2013"] = np.NaN
    inp1.loc[inp1['22-09-2013']== 'Orders',"22-09-2013"] = np.NaN
    return inp1

def correct_cols_drop_blank_cols(inp1):
    

    # Do the required changes in the "Dress Sales" data set to get null values on string values.
    inp1.isnull().sum().value_counts(normalize=True)

    # Drop the columns in "Dress Sales" which have more than 40% of missing values.
    #inp1 = inp1.dropna(thresh=inp1.shape[0]*0.4,how='all',axis=1)

    #OR
    inp1= inp1.drop(["26-09-2013"] , axis= 1)

    inp1= inp1.drop(["30-09-2013"] , axis= 1)

    inp1= inp1.drop(["10-02-2013"] , axis= 1)

    inp1= inp1.drop(["10-04-2013"] , axis= 1)

    inp1= inp1.drop(["10-08-2013"] , axis= 1)

    inp1= inp1.drop(["10-10-2013"] , axis= 1)
    return inp1

def seasonwise_sale(inp1):
    # Create the four seasons columns in inp1, according to the above criteria.
    # June, July and August - 8: Summer.
    # - September, October and November - 11: Autumn.
    # - December, January and February - 2: WInter.
    # - March, April and May - 5: Spring.
    summer_col = inp1.loc[: , ["29-08-2013","31-08-2013","09-08-2013",
                               "09-06-2013","10-06-2013"]]
    inp1['Summer'] = summer_col.sum(axis=1)

    winter_col = inp1.loc[: , ["09-02-2013","09-12-2013","10-12-2013"]]
    inp1['Winter'] = winter_col.sum(axis=1)

    autumn_col = inp1.loc[: , ["09-10-2013","14-09-2013","16-09-2013","18-09-2013",
                               "20-09-2013","22-09-2013","24-09-2013","28-09-2013"]]
    inp1['Autumn'] = autumn_col.sum(axis=1)

    spring_col = inp1.loc[: , ["09-04-2013"]]
    inp1['Spring'] = spring_col.sum(axis=1)

    return inp1

    # OR
    #Correct
    # Spring, 143600
    # # Feedback :

    # # Write the code to club the dates into seasons according to the criteria
#     and then find the sum of each season in “Dress Sales”. You can refer to the 
#     following code to perform such an operation:

#     inp1['Spring'] = inp1.apply(lambda x: x['09-04-2013'], axis=1)
#     inp1['Summer'] = inp1.apply(lambda x: x['29-08-2013'] + x['31-08-2013']+ x['09-06-2013']+ x['09-08-2013']+ x['10-06-2013'], axis=1)
#     inp1['Winter'] = inp1.apply(lambda x: x['09-02-2013'] + x['09-12-2013']+ x['10-12-2013'], axis=1)
#     inp1['Autumn'] = inp1.apply(lambda x: x['09-10-2013'] + x['14-09-2013']+ x['16-09-2013']+ x['18-09-2013']+ x['20-09-2013']+ x['22-09-2013']+ x['24-09-2013']+ x['28-09-2013'], axis=1)

#     return inp1


inp0 = read_data("Attribute DataSet.csv")
#display_data(inp0)

inp1 = read_data("Dress Sales.csv")
#display_data(inp1)

# print("\n\nIdentifying var types === \n")
# identify_var_types(inp0.Price)
# identify_var_types(inp0.Recommendation)
# value_percentage(inp0.Recommendation)

# print("\n\n Size Column fixing, correcting size abbreviation\n")
# value_percentage(inp0.Size)
# inp0.Size = inp0.Size.apply(size_abbreviations)
# value_percentage(inp0.Size)


# Print the null count of each variables of inp0 and inp1.
# Print the data types information of inp1 i.e. "Dress Sales" data.
# Try to convert the object type into float type of data. YOU GET ERROR MESSAGE.
#ValueError: could not convert string to float: 'Removed'
# inp1.info()
inp1 = convert_cols_to_float(inp1)

# print(inp1.isnull().sum())
inp1 = correct_cols_drop_blank_cols(inp1)
# print(inp1.isnull().sum())

# inp1.info()
inp1 = seasonwise_sale(inp1)
# inp1.info()
# print("Summer : ",inp1.Summer.sum())
# print("Winter : ", inp1.Winter.sum())
# print("Autumn : ",inp1.Autumn.sum())
# print("Spring : ",inp1.Spring.sum())

# Merge inp0 with inp1 into inp0. this is also called left merge.
inp0 = pd.merge(left=inp0,right=inp1, how='left', left_on='Dress_ID', right_on='Dress_ID')
inp0.head()

# Now Drop the Date columns from inp0 as it is already combined into four seasons.
inp0.drop(inp0.loc[:,'29-08-2013':'10-12-2013'].columns, axis= 1, inplace= True)
inp0.isnull().sum()

Dress_ID            0
Style               0
Price               2
Rating              0
Size                0
Season              2
NeckLine            3
SleeveLength        2
Material          119
FabricType        256
Decoration        224
Pattern Type      102
Recommendation      0
Summer              0
Winter              0
Autumn              0
Spring              0
dtype: int64

Print the null count of inp0 to get the idea about the missing values in data set.

In [ ]:
# Print the null percetange of each column of inp1.
#Import the required Libraries.
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from IPython.display import display

def read_data(filename):
    #Read the data in pandas
    inp0= pd.read_csv(filename)    
    return inp0

def display_data(df):
    display(df)

def identify_var_types(col):
    print("\n\nPrinting attributes information\n")
    inp0.info()
    
    print("\n\nPrinting col value counts\n")
    print(col.value_counts())

def value_percentage(col):
    print("\nPrinting col values and percentages")
    print(100 * col.value_counts(normalize=True))

def size_abbreviations(val):
    if val == 'M' : 
        return "Medium"
    elif val == 'L' : 
        return   "Large"
    elif val == 'XL':
        return "Extra large"
    elif val == 'free':
        return "Free"
    elif np.logical_or(np.logical_or(val == 'S',val == 's'), val == 'small') :
        return "Small"
    else:
        return val
    
    OR
    
#     inp0.Size= inp0.Size.replace(['S', 'small', 's'], "Small")

#     inp0.Size= inp0.Size.replace('free', "Free")

#     inp0.Size= inp0.Size.replace('M', "Medium")

#     inp0.Size= inp0.Size.replace('L', "Large") 

#     inp0.Size= inp0.Size.replace('XL', "Extra large")


def convert_cols_to_float(inp1):
#     inp1["09-12-2013"] = inp1["09-12-2013"].apply(lambda x: float(x) if isinstance(x, (int, float)) else np.NaN)
#     inp1["14-09-2013"] = inp1["14-09-2013"].apply(lambda x: float(x) if isinstance(x, (int, float)) else np.NaN)
#     inp1["16-09-2013"] = inp1["16-09-2013"].apply(lambda x: float(x) if isinstance(x, (int, float)) else np.NaN)
#     inp1["18-09-2013"] = inp1["18-09-2013"].apply(lambda x: float(x) if isinstance(x, (int, float)) else np.NaN)
#     inp1["20-09-2013"] = inp1["20-09-2013"].apply(lambda x: float(x) if isinstance(x, (int, float)) else np.NaN)
#     inp1["22-09-2013"] = inp1["22-09-2013"].apply(lambda x: float(x) if isinstance(x, (int, float)) else np.NaN)
#OR
# Error occurred because there are string entries in such columns. 
# You should replace these string values with null values and then convert it into float type.
# Feedback :

# Because there is one string value in each of these columns, it is showing the error. 
# You cannot convert a string into float type, and once you replace string with a null value, 
# you will be able to convert it into float type.

# You can convert the string values into null using the following codes:
    inp1.loc[inp1['09-12-2013']== 'Removed',"09-12-2013"] = np.NaN
    inp1.loc[inp1['14-09-2013']== 'removed',"14-09-2013"] = np.NaN
    inp1.loc[inp1['16-09-2013']== 'removed',"16-09-2013"] = np.NaN
    inp1.loc[inp1['18-09-2013']== 'removed',"18-09-2013"] = np.NaN
    inp1.loc[inp1['20-09-2013']== 'removed',"20-09-2013"] = np.NaN
    inp1.loc[inp1['22-09-2013']== 'Orders',"22-09-2013"] = np.NaN
    return inp1

def correct_cols_drop_blank_cols(inp1):
    

    # Do the required changes in the "Dress Sales" data set to get null values on string values.
    inp1.isnull().sum().value_counts(normalize=True)

    # Drop the columns in "Dress Sales" which have more than 40% of missing values.
    #inp1 = inp1.dropna(thresh=inp1.shape[0]*0.4,how='all',axis=1)

    #OR
    inp1= inp1.drop(["26-09-2013"] , axis= 1)

    inp1= inp1.drop(["30-09-2013"] , axis= 1)

    inp1= inp1.drop(["10-02-2013"] , axis= 1)

    inp1= inp1.drop(["10-04-2013"] , axis= 1)

    inp1= inp1.drop(["10-08-2013"] , axis= 1)

    inp1= inp1.drop(["10-10-2013"] , axis= 1)
    return inp1

def seasonwise_sale(inp1):
    # Create the four seasons columns in inp1, according to the above criteria.
    # June, July and August - 8: Summer.
    # - September, October and November - 11: Autumn.
    # - December, January and February - 2: WInter.
    # - March, April and May - 5: Spring.
    summer_col = inp1.loc[: , ["29-08-2013","31-08-2013","09-08-2013",
                               "09-06-2013","10-06-2013"]]
    inp1['Summer'] = summer_col.sum(axis=1)

    winter_col = inp1.loc[: , ["09-02-2013","09-12-2013","10-12-2013"]]
    inp1['Winter'] = winter_col.sum(axis=1)

    autumn_col = inp1.loc[: , ["09-10-2013","14-09-2013","16-09-2013","18-09-2013",
                               "20-09-2013","22-09-2013","24-09-2013","28-09-2013"]]
    inp1['Autumn'] = autumn_col.sum(axis=1)

    spring_col = inp1.loc[: , ["09-04-2013"]]
    inp1['Spring'] = spring_col.sum(axis=1)

    return inp1

    # OR
    #Correct
    # Spring, 143600
    # # Feedback :

    # # Write the code to club the dates into seasons according to the criteria
#     and then find the sum of each season in “Dress Sales”. You can refer to the 
#     following code to perform such an operation:

#     inp1['Spring'] = inp1.apply(lambda x: x['09-04-2013'], axis=1)
#     inp1['Summer'] = inp1.apply(lambda x: x['29-08-2013'] + x['31-08-2013']+ x['09-06-2013']+ x['09-08-2013']+ x['10-06-2013'], axis=1)
#     inp1['Winter'] = inp1.apply(lambda x: x['09-02-2013'] + x['09-12-2013']+ x['10-12-2013'], axis=1)
#     inp1['Autumn'] = inp1.apply(lambda x: x['09-10-2013'] + x['14-09-2013']+ x['16-09-2013']+ x['18-09-2013']+ x['20-09-2013']+ x['22-09-2013']+ x['24-09-2013']+ x['28-09-2013'], axis=1)

#     return inp1


inp0 = read_data("Attribute DataSet.csv")
#display_data(inp0)

inp1 = read_data("Dress Sales.csv")
#display_data(inp1)

# print("\n\nIdentifying var types === \n")
# identify_var_types(inp0.Price)
# identify_var_types(inp0.Recommendation)
# value_percentage(inp0.Recommendation)

# print("\n\n Size Column fixing, correcting size abbreviation\n")
# value_percentage(inp0.Size)
# inp0.Size = inp0.Size.apply(size_abbreviations)
# value_percentage(inp0.Size)


# Print the null count of each variables of inp0 and inp1.
# Print the data types information of inp1 i.e. "Dress Sales" data.
# Try to convert the object type into float type of data. YOU GET ERROR MESSAGE.
#ValueError: could not convert string to float: 'Removed'
# inp1.info()
inp1 = convert_cols_to_float(inp1)

# print(inp1.isnull().sum())
inp1 = correct_cols_drop_blank_cols(inp1)
# print(inp1.isnull().sum())

# inp1.info()
inp1 = seasonwise_sale(inp1)
# inp1.info()
# print("Summer : ",inp1.Summer.sum())
# print("Winter : ", inp1.Winter.sum())
# print("Autumn : ",inp1.Autumn.sum())
# print("Spring : ",inp1.Spring.sum())

# Merge inp0 with inp1 into inp0. this is also called left merge.
inp0 = pd.merge(left=inp0,right=inp1, how='left', left_on='Dress_ID', right_on='Dress_ID')
inp0.head()

# Now Drop the Date columns from inp0 as it is already combined into four seasons.
inp0.drop(inp0.loc[:,'29-08-2013':'10-12-2013'].columns, axis= 1, inplace= True)

# Print the null count of each columns in inp0 dataframe i.e. 
# combined data frame of inp0 and inp1 without date columns.
inp0.isnull().sum()

You can see that there are two types of variables one with a large number of missing values and another is very less number of missing values. These two columns can be categorized as:

Type-1: Missing values are very less (around 2 or 3 missing values): Price, Season, NeckLine, SleeveLength, Winter and Autumn. 

Type-2: Missing values are large in numbers (more than 15%): Material, FabricType, Decoration and Pattern Type.



You should create a separate category named as Missing category in Type-2 columns
and just drop the missing values of Type-1 columns.
Feedback :

This is the best way to deal with missing values. You can refer to the following code:

In [203]:
# Print the null percetange of each column of inp1.
#Import the required Libraries.
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from IPython.display import display

def read_data(filename):
    #Read the data in pandas
    inp0= pd.read_csv(filename)    
    return inp0

def display_data(df):
    display(df)

def identify_var_types(col):
    print("\n\nPrinting attributes information\n")
    inp0.info()
    
    print("\n\nPrinting col value counts\n")
    print(col.value_counts())

def value_percentage(col):
    print("\nPrinting col values and percentages")
    print(100 * col.value_counts(normalize=True))

def size_abbreviations(val):
    if val == 'M' : 
        return "Medium"
    elif val == 'L' : 
        return   "Large"
    elif val == 'XL':
        return "Extra large"
    elif val == 'free':
        return "Free"
    elif np.logical_or(np.logical_or(val == 'S',val == 's'), val == 'small') :
        return "Small"
    else:
        return val
    
    OR
    
#     inp0.Size= inp0.Size.replace(['S', 'small', 's'], "Small")

#     inp0.Size= inp0.Size.replace('free', "Free")

#     inp0.Size= inp0.Size.replace('M', "Medium")

#     inp0.Size= inp0.Size.replace('L', "Large") 

#     inp0.Size= inp0.Size.replace('XL', "Extra large")


def convert_cols_to_float(inp1):
#     inp1["09-12-2013"] = inp1["09-12-2013"].apply(lambda x: float(x) if isinstance(x, (int, float)) else np.NaN)
#     inp1["14-09-2013"] = inp1["14-09-2013"].apply(lambda x: float(x) if isinstance(x, (int, float)) else np.NaN)
#     inp1["16-09-2013"] = inp1["16-09-2013"].apply(lambda x: float(x) if isinstance(x, (int, float)) else np.NaN)
#     inp1["18-09-2013"] = inp1["18-09-2013"].apply(lambda x: float(x) if isinstance(x, (int, float)) else np.NaN)
#     inp1["20-09-2013"] = inp1["20-09-2013"].apply(lambda x: float(x) if isinstance(x, (int, float)) else np.NaN)
#     inp1["22-09-2013"] = inp1["22-09-2013"].apply(lambda x: float(x) if isinstance(x, (int, float)) else np.NaN)
#OR
# Error occurred because there are string entries in such columns. 
# You should replace these string values with null values and then convert it into float type.
# Feedback :

# Because there is one string value in each of these columns, it is showing the error. 
# You cannot convert a string into float type, and once you replace string with a null value, 
# you will be able to convert it into float type.

# You can convert the string values into null using the following codes:
    inp1.loc[inp1['09-12-2013']== 'Removed',"09-12-2013"] = np.NaN
    inp1.loc[inp1['14-09-2013']== 'removed',"14-09-2013"] = np.NaN
    inp1.loc[inp1['16-09-2013']== 'removed',"16-09-2013"] = np.NaN
    inp1.loc[inp1['18-09-2013']== 'removed',"18-09-2013"] = np.NaN
    inp1.loc[inp1['20-09-2013']== 'removed',"20-09-2013"] = np.NaN
    inp1.loc[inp1['22-09-2013']== 'Orders',"22-09-2013"] = np.NaN
    return inp1

def correct_cols_drop_blank_cols(inp1):
    

    # Do the required changes in the "Dress Sales" data set to get null values on string values.
    inp1.isnull().sum().value_counts(normalize=True)

    # Drop the columns in "Dress Sales" which have more than 40% of missing values.
    #inp1 = inp1.dropna(thresh=inp1.shape[0]*0.4,how='all',axis=1)

    #OR
    inp1= inp1.drop(["26-09-2013"] , axis= 1)

    inp1= inp1.drop(["30-09-2013"] , axis= 1)

    inp1= inp1.drop(["10-02-2013"] , axis= 1)

    inp1= inp1.drop(["10-04-2013"] , axis= 1)

    inp1= inp1.drop(["10-08-2013"] , axis= 1)

    inp1= inp1.drop(["10-10-2013"] , axis= 1)
    return inp1

def seasonwise_sale(inp1):
    # Create the four seasons columns in inp1, according to the above criteria.
    # June, July and August - 8: Summer.
    # - September, October and November - 11: Autumn.
    # - December, January and February - 2: WInter.
    # - March, April and May - 5: Spring.
    summer_col = inp1.loc[: , ["29-08-2013","31-08-2013","09-08-2013",
                               "09-06-2013","10-06-2013"]]
    inp1['Summer'] = summer_col.sum(axis=1)

    winter_col = inp1.loc[: , ["09-02-2013","09-12-2013","10-12-2013"]]
    inp1['Winter'] = winter_col.sum(axis=1)

    autumn_col = inp1.loc[: , ["09-10-2013","14-09-2013","16-09-2013","18-09-2013",
                               "20-09-2013","22-09-2013","24-09-2013","28-09-2013"]]
    inp1['Autumn'] = autumn_col.sum(axis=1)

    spring_col = inp1.loc[: , ["09-04-2013"]]
    inp1['Spring'] = spring_col.sum(axis=1)

    return inp1

    # OR
    #Correct
    # Spring, 143600
    # # Feedback :

    # # Write the code to club the dates into seasons according to the criteria
#     and then find the sum of each season in “Dress Sales”. You can refer to the 
#     following code to perform such an operation:

#     inp1['Spring'] = inp1.apply(lambda x: x['09-04-2013'], axis=1)
#     inp1['Summer'] = inp1.apply(lambda x: x['29-08-2013'] + x['31-08-2013']+ x['09-06-2013']+ x['09-08-2013']+ x['10-06-2013'], axis=1)
#     inp1['Winter'] = inp1.apply(lambda x: x['09-02-2013'] + x['09-12-2013']+ x['10-12-2013'], axis=1)
#     inp1['Autumn'] = inp1.apply(lambda x: x['09-10-2013'] + x['14-09-2013']+ x['16-09-2013']+ x['18-09-2013']+ x['20-09-2013']+ x['22-09-2013']+ x['24-09-2013']+ x['28-09-2013'], axis=1)

#     return inp1

def combine_datasets(inp0,inp1):    
    # Merge inp0 with inp1 into inp0. this is also called left merge.
    inp0 = pd.merge(left=inp0,right=inp1, how='left', left_on='Dress_ID', right_on='Dress_ID')
    inp0.head()
    return inp0

def drop_date_cols(inp1):    
    # Now Drop the Date columns from inp0 as it is already combined into four seasons.
    inp1.drop(inp1.loc[:,'29-08-2013':'10-12-2013'].columns, axis= 1, inplace= True)

    
def drop_missing_type1_rows(inp0):
    # Drop the missing values of Type-1 columns:
    inp0 = inp0[~inp0.Price.isnull()]
    inp0 = inp0[~inp0.Season.isnull()]
    inp0 = inp0[~inp0.NeckLine.isnull()]
    inp0 = inp0[~inp0.SleeveLength.isnull()]
    inp0 = inp0[~inp0.Winter.isnull()]
    inp0 = inp0[~inp0.Autumn.isnull()]
    return inp0

inp0 = read_data("Attribute DataSet.csv")
#display_data(inp0)

inp1 = read_data("Dress Sales.csv")
#display_data(inp1)

# print("\n\nIdentifying var types === \n")
# identify_var_types(inp0.Price)
# identify_var_types(inp0.Recommendation)
# value_percentage(inp0.Recommendation)

# print("\n\n Size Column fixing, correcting size abbreviation\n")
# value_percentage(inp0.Size)
# inp0.Size = inp0.Size.apply(size_abbreviations)
# value_percentage(inp0.Size)


# Print the null count of each variables of inp0 and inp1.
# Print the data types information of inp1 i.e. "Dress Sales" data.
# Try to convert the object type into float type of data. YOU GET ERROR MESSAGE.
#ValueError: could not convert string to float: 'Removed'
# inp1.info()
inp1 = convert_cols_to_float(inp1)

# print(inp1.isnull().sum())
inp1 = correct_cols_drop_blank_cols(inp1)
# print(inp1.isnull().sum())

# inp1.info()
inp1 = seasonwise_sale(inp1)
drop_date_cols(inp1)
# inp1.info()
# print("Summer : ",inp1.Summer.sum())
# print("Winter : ", inp1.Winter.sum())
# print("Autumn : ",inp1.Autumn.sum())
# print("Spring : ",inp1.Spring.sum())


inp0 = combine_datasets(inp0,inp1)
print(inp0.shape)


# Print the null count of each columns in inp0 dataframe i.e. 
# combined data frame of inp0 and inp1 without date columns.
inp0.isnull().sum()

# Deal with the missing values of Type-1 columns: Price, Season, NeckLine, SleeveLength, Winter and Autumn.
inp0 = drop_missing_type1_rows(inp0)

(479, 17)

In [205]:
# Print the null percetange of each column of inp1.
#Import the required Libraries.
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from IPython.display import display

def read_data(filename):
    #Read the data in pandas
    inp0= pd.read_csv(filename)    
    return inp0

def display_data(df):
    display(df)

def identify_var_types(col):
    print("\n\nPrinting attributes information\n")
    inp0.info()
    
    print("\n\nPrinting col value counts\n")
    print(col.value_counts())

def value_percentage(col):
    print("\nPrinting col values and percentages")
    print(100 * col.value_counts(normalize=True))

def size_abbreviations(val):
    if val == 'M' : 
        return "Medium"
    elif val == 'L' : 
        return   "Large"
    elif val == 'XL':
        return "Extra large"
    elif val == 'free':
        return "Free"
    elif np.logical_or(np.logical_or(val == 'S',val == 's'), val == 'small') :
        return "Small"
    else:
        return val
    
    OR
    
#     inp0.Size= inp0.Size.replace(['S', 'small', 's'], "Small")

#     inp0.Size= inp0.Size.replace('free', "Free")

#     inp0.Size= inp0.Size.replace('M', "Medium")

#     inp0.Size= inp0.Size.replace('L', "Large") 

#     inp0.Size= inp0.Size.replace('XL', "Extra large")


def convert_cols_to_float(inp1):
#     inp1["09-12-2013"] = inp1["09-12-2013"].apply(lambda x: float(x) if isinstance(x, (int, float)) else np.NaN)
#     inp1["14-09-2013"] = inp1["14-09-2013"].apply(lambda x: float(x) if isinstance(x, (int, float)) else np.NaN)
#     inp1["16-09-2013"] = inp1["16-09-2013"].apply(lambda x: float(x) if isinstance(x, (int, float)) else np.NaN)
#     inp1["18-09-2013"] = inp1["18-09-2013"].apply(lambda x: float(x) if isinstance(x, (int, float)) else np.NaN)
#     inp1["20-09-2013"] = inp1["20-09-2013"].apply(lambda x: float(x) if isinstance(x, (int, float)) else np.NaN)
#     inp1["22-09-2013"] = inp1["22-09-2013"].apply(lambda x: float(x) if isinstance(x, (int, float)) else np.NaN)
#OR
# Error occurred because there are string entries in such columns. 
# You should replace these string values with null values and then convert it into float type.
# Feedback :

# Because there is one string value in each of these columns, it is showing the error. 
# You cannot convert a string into float type, and once you replace string with a null value, 
# you will be able to convert it into float type.

# You can convert the string values into null using the following codes:
    inp1.loc[inp1['09-12-2013']== 'Removed',"09-12-2013"] = np.NaN
    inp1.loc[inp1['14-09-2013']== 'removed',"14-09-2013"] = np.NaN
    inp1.loc[inp1['16-09-2013']== 'removed',"16-09-2013"] = np.NaN
    inp1.loc[inp1['18-09-2013']== 'removed',"18-09-2013"] = np.NaN
    inp1.loc[inp1['20-09-2013']== 'removed',"20-09-2013"] = np.NaN
    inp1.loc[inp1['22-09-2013']== 'Orders',"22-09-2013"] = np.NaN
    return inp1

def correct_cols_drop_blank_cols(inp1):
    

    # Do the required changes in the "Dress Sales" data set to get null values on string values.
    inp1.isnull().sum().value_counts(normalize=True)

    # Drop the columns in "Dress Sales" which have more than 40% of missing values.
    #inp1 = inp1.dropna(thresh=inp1.shape[0]*0.4,how='all',axis=1)

    #OR
    inp1= inp1.drop(["26-09-2013"] , axis= 1)

    inp1= inp1.drop(["30-09-2013"] , axis= 1)

    inp1= inp1.drop(["10-02-2013"] , axis= 1)

    inp1= inp1.drop(["10-04-2013"] , axis= 1)

    inp1= inp1.drop(["10-08-2013"] , axis= 1)

    inp1= inp1.drop(["10-10-2013"] , axis= 1)
    return inp1

def seasonwise_sale(inp1):
    # Create the four seasons columns in inp1, according to the above criteria.
    # June, July and August - 8: Summer.
    # - September, October and November - 11: Autumn.
    # - December, January and February - 2: WInter.
    # - March, April and May - 5: Spring.
    summer_col = inp1.loc[: , ["29-08-2013","31-08-2013","09-08-2013",
                               "09-06-2013","10-06-2013"]]
    inp1['Summer'] = summer_col.sum(axis=1)

    winter_col = inp1.loc[: , ["09-02-2013","09-12-2013","10-12-2013"]]
    inp1['Winter'] = winter_col.sum(axis=1)

    autumn_col = inp1.loc[: , ["09-10-2013","14-09-2013","16-09-2013","18-09-2013",
                               "20-09-2013","22-09-2013","24-09-2013","28-09-2013"]]
    inp1['Autumn'] = autumn_col.sum(axis=1)

    spring_col = inp1.loc[: , ["09-04-2013"]]
    inp1['Spring'] = spring_col.sum(axis=1)

    return inp1

    # OR
    #Correct
    # Spring, 143600
    # # Feedback :

    # # Write the code to club the dates into seasons according to the criteria
#     and then find the sum of each season in “Dress Sales”. You can refer to the 
#     following code to perform such an operation:

#     inp1['Spring'] = inp1.apply(lambda x: x['09-04-2013'], axis=1)
#     inp1['Summer'] = inp1.apply(lambda x: x['29-08-2013'] + x['31-08-2013']+ x['09-06-2013']+ x['09-08-2013']+ x['10-06-2013'], axis=1)
#     inp1['Winter'] = inp1.apply(lambda x: x['09-02-2013'] + x['09-12-2013']+ x['10-12-2013'], axis=1)
#     inp1['Autumn'] = inp1.apply(lambda x: x['09-10-2013'] + x['14-09-2013']+ x['16-09-2013']+ x['18-09-2013']+ x['20-09-2013']+ x['22-09-2013']+ x['24-09-2013']+ x['28-09-2013'], axis=1)

#     return inp1

def combine_datasets(inp0,inp1):    
    # Merge inp0 with inp1 into inp0. this is also called left merge.
    inp0 = pd.merge(left=inp0,right=inp1, how='left', left_on='Dress_ID', right_on='Dress_ID')
    inp0.head()
    return inp0

def drop_date_cols(inp1):    
    # Now Drop the Date columns from inp0 as it is already combined into four seasons.
    inp1.drop(inp1.loc[:,'29-08-2013':'10-12-2013'].columns, axis= 1, inplace= True)

    
def drop_missing_type1_rows(inp0):
    # Drop the missing values of Type-1 columns:
    inp0 = inp0[~inp0.Price.isnull()]
    inp0 = inp0[~inp0.Season.isnull()]
    inp0 = inp0[~inp0.NeckLine.isnull()]
    inp0 = inp0[~inp0.SleeveLength.isnull()]
    inp0 = inp0[~inp0.Winter.isnull()]
    inp0 = inp0[~inp0.Autumn.isnull()]
    return inp0

def new_categvals_null_to_Missing(inp0):
    # Create a separate category ‘Missing’ in Type-2 column:

    inp0.Material= inp0.Material.replace(np.nan, "Missing")

    inp0.FabricType= inp0.FabricType.replace(np.nan, "Missing")

    inp0.Decoration= inp0.Decoration.replace(np.nan, "Missing")
    inp0['Pattern Type']= inp0['Pattern Type'].replace(np.nan, "Missing")
    return inp0

    
inp0 = read_data("Attribute DataSet.csv")
#display_data(inp0)

inp1 = read_data("Dress Sales.csv")
#display_data(inp1)

# print("\n\nIdentifying var types === \n")
# identify_var_types(inp0.Price)
# identify_var_types(inp0.Recommendation)
# value_percentage(inp0.Recommendation)

# print("\n\n Size Column fixing, correcting size abbreviation\n")
# value_percentage(inp0.Size)
# inp0.Size = inp0.Size.apply(size_abbreviations)
# value_percentage(inp0.Size)


# Print the null count of each variables of inp0 and inp1.
# Print the data types information of inp1 i.e. "Dress Sales" data.
# Try to convert the object type into float type of data. YOU GET ERROR MESSAGE.
#ValueError: could not convert string to float: 'Removed'
# inp1.info()
inp1 = convert_cols_to_float(inp1)

# print(inp1.isnull().sum())
inp1 = correct_cols_drop_blank_cols(inp1)
# print(inp1.isnull().sum())

# inp1.info()
inp1 = seasonwise_sale(inp1)
drop_date_cols(inp1)
# inp1.info()
# print("Summer : ",inp1.Summer.sum())
# print("Winter : ", inp1.Winter.sum())
# print("Autumn : ",inp1.Autumn.sum())
# print("Spring : ",inp1.Spring.sum())


inp0 = combine_datasets(inp0,inp1)
print(inp0.shape)


# Print the null count of each columns in inp0 dataframe i.e. 
# combined data frame of inp0 and inp1 without date columns.
inp0.isnull().sum()

# Deal with the missing values of Type-1 columns: Price, Season, NeckLine, SleeveLength, Winter and Autumn.
inp0 = drop_missing_type1_rows(inp0)

# Deal with the missing values for Type-2 columns: Material, FabricType, Decoration and Pattern Type.
inp0 = new_categvals_null_to_Missing(inp0)

(479, 17)

### Standardise value

In the given dataset, there are certain discrepancies with the categorical names such as irregular spellings. Choose the correct option of columns with irregular categories and update them.
 
- Season, NeckLine
- Price, Material
- fabricType, Decoration
- Season, SleeveLength





Season, SleeveLength
Feedback :

Season and sleeve length contain some spelling mistakes in the categorical names,
which need to be rectified. You can refer to the following code to perform this operation.

In [11]:
# Print the null percetange of each column of inp1.
#Import the required Libraries.
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from IPython.display import display

def read_data(filename):
    #Read the data in pandas
    inp0= pd.read_csv(filename)    
    return inp0

def display_data(df):
    display(df)

def identify_var_types(col):
    print("\n\nPrinting attributes information\n")
    inp0.info()
    
    print("\n\nPrinting col value counts\n")
    print(col.value_counts())

def value_percentage(col):
    print("\nPrinting col values and percentages")
    print(100 * col.value_counts(normalize=True))

def size_abbreviations(val):
    if val == 'M' : 
        return "Medium"
    elif val == 'L' : 
        return   "Large"
    elif val == 'XL':
        return "Extra large"
    elif val == 'free':
        return "Free"
    elif np.logical_or(np.logical_or(val == 'S',val == 's'), val == 'small') :
        return "Small"
    else:
        return val
    
    OR
    
#     inp0.Size= inp0.Size.replace(['S', 'small', 's'], "Small")

#     inp0.Size= inp0.Size.replace('free', "Free")

#     inp0.Size= inp0.Size.replace('M', "Medium")

#     inp0.Size= inp0.Size.replace('L', "Large") 

#     inp0.Size= inp0.Size.replace('XL', "Extra large")


def convert_cols_to_float(inp1):
#     inp1["09-12-2013"] = inp1["09-12-2013"].apply(lambda x: float(x) if isinstance(x, (int, float)) else np.NaN)
#     inp1["14-09-2013"] = inp1["14-09-2013"].apply(lambda x: float(x) if isinstance(x, (int, float)) else np.NaN)
#     inp1["16-09-2013"] = inp1["16-09-2013"].apply(lambda x: float(x) if isinstance(x, (int, float)) else np.NaN)
#     inp1["18-09-2013"] = inp1["18-09-2013"].apply(lambda x: float(x) if isinstance(x, (int, float)) else np.NaN)
#     inp1["20-09-2013"] = inp1["20-09-2013"].apply(lambda x: float(x) if isinstance(x, (int, float)) else np.NaN)
#     inp1["22-09-2013"] = inp1["22-09-2013"].apply(lambda x: float(x) if isinstance(x, (int, float)) else np.NaN)
#OR
# Error occurred because there are string entries in such columns. 
# You should replace these string values with null values and then convert it into float type.
# Feedback :

# Because there is one string value in each of these columns, it is showing the error. 
# You cannot convert a string into float type, and once you replace string with a null value, 
# you will be able to convert it into float type.

# You can convert the string values into null using the following codes:
    inp1.loc[inp1['09-12-2013']== 'Removed',"09-12-2013"] = np.NaN
    inp1.loc[inp1['14-09-2013']== 'removed',"14-09-2013"] = np.NaN
    inp1.loc[inp1['16-09-2013']== 'removed',"16-09-2013"] = np.NaN
    inp1.loc[inp1['18-09-2013']== 'removed',"18-09-2013"] = np.NaN
    inp1.loc[inp1['20-09-2013']== 'removed',"20-09-2013"] = np.NaN
    inp1.loc[inp1['22-09-2013']== 'Orders',"22-09-2013"] = np.NaN
    return inp1

def correct_cols_drop_blank_cols(inp1):
    

    # Do the required changes in the "Dress Sales" data set to get null values on string values.
    inp1.isnull().sum().value_counts(normalize=True)

    # Drop the columns in "Dress Sales" which have more than 40% of missing values.
    #inp1 = inp1.dropna(thresh=inp1.shape[0]*0.4,how='all',axis=1)

    #OR
    inp1= inp1.drop(["26-09-2013"] , axis= 1)

    inp1= inp1.drop(["30-09-2013"] , axis= 1)

    inp1= inp1.drop(["10-02-2013"] , axis= 1)

    inp1= inp1.drop(["10-04-2013"] , axis= 1)

    inp1= inp1.drop(["10-08-2013"] , axis= 1)

    inp1= inp1.drop(["10-10-2013"] , axis= 1)
    return inp1

def seasonwise_sale(inp1):
    # Create the four seasons columns in inp1, according to the above criteria.
    # June, July and August - 8: Summer.
    # - September, October and November - 11: Autumn.
    # - December, January and February - 2: WInter.
    # - March, April and May - 5: Spring.
    summer_col = inp1.loc[: , ["29-08-2013","31-08-2013","09-08-2013",
                               "09-06-2013","10-06-2013"]]
    inp1['Summer'] = summer_col.sum(axis=1)

    winter_col = inp1.loc[: , ["09-02-2013","09-12-2013","10-12-2013"]]
    inp1['Winter'] = winter_col.sum(axis=1)

    autumn_col = inp1.loc[: , ["09-10-2013","14-09-2013","16-09-2013","18-09-2013",
                               "20-09-2013","22-09-2013","24-09-2013","28-09-2013"]]
    inp1['Autumn'] = autumn_col.sum(axis=1)

    spring_col = inp1.loc[: , ["09-04-2013"]]
    inp1['Spring'] = spring_col.sum(axis=1)

    return inp1

    # OR
    #Correct
    # Spring, 143600
    # # Feedback :

    # # Write the code to club the dates into seasons according to the criteria
#     and then find the sum of each season in “Dress Sales”. You can refer to the 
#     following code to perform such an operation:

#     inp1['Spring'] = inp1.apply(lambda x: x['09-04-2013'], axis=1)
#     inp1['Summer'] = inp1.apply(lambda x: x['29-08-2013'] + x['31-08-2013']+ x['09-06-2013']+ x['09-08-2013']+ x['10-06-2013'], axis=1)
#     inp1['Winter'] = inp1.apply(lambda x: x['09-02-2013'] + x['09-12-2013']+ x['10-12-2013'], axis=1)
#     inp1['Autumn'] = inp1.apply(lambda x: x['09-10-2013'] + x['14-09-2013']+ x['16-09-2013']+ x['18-09-2013']+ x['20-09-2013']+ x['22-09-2013']+ x['24-09-2013']+ x['28-09-2013'], axis=1)

#     return inp1

def combine_datasets(inp0,inp1):    
    # Merge inp0 with inp1 into inp0. this is also called left merge.
    inp0 = pd.merge(left=inp0,right=inp1, how='left', left_on='Dress_ID', right_on='Dress_ID')
    inp0.head()
    return inp0

def drop_date_cols(inp1):    
    # Now Drop the Date columns from inp0 as it is already combined into four seasons.
    inp1.drop(inp1.loc[:,'29-08-2013':'10-12-2013'].columns, axis= 1, inplace= True)

    
def drop_missing_type1_rows(inp0):
    # Drop the missing values of Type-1 columns:
    inp0 = inp0[~inp0.Price.isnull()]
    inp0 = inp0[~inp0.Season.isnull()]
    inp0 = inp0[~inp0.NeckLine.isnull()]
    inp0 = inp0[~inp0.SleeveLength.isnull()]
    inp0 = inp0[~inp0.Winter.isnull()]
    inp0 = inp0[~inp0.Autumn.isnull()]
    return inp0

def newcateg_replace_null_with_Missing(inp0):
    # Create a separate category ‘Missing’ in Type-2 column:

    inp0.Material= inp0.Material.replace(np.nan, "Missing")

    inp0.FabricType= inp0.FabricType.replace(np.nan, "Missing")

    inp0.Decoration= inp0.Decoration.replace(np.nan, "Missing")
    inp0['Pattern Type']= inp0['Pattern Type'].replace(np.nan, "Missing")
    return inp0

def check_cols_reqd_for_correction(inp0):
    #all the options have Price col which does not need correction
    # - Season, NeckLine, Price
    # - Price, Material,Rating
    # - fabricType, Decoration, Price
    # - Season, SleeveLength
    inp0.Season.value_counts()
    # inp0.NeckLine.value_counts()
    # inp0.Price.value_counts() #-- not needed
    # inp0.Material.value_counts() #-- not needed
    # inp0.FabricType.value_counts()
    # inp0.Rating.value_counts()
    # inp0.Decoration.value_counts()#-- not needed
    inp0.SleeveLength.value_counts()

def correct_spellings_type2(inp0):
    
    #correcting the season spellings.

    inp0.Season= inp0.Season.replace('Automn', "Autumn")

    inp0.Season= inp0.Season.replace('spring', "Spring")

    inp0.Season= inp0.Season.replace('winter', "Winter")



    #correcting the SleeveLength.

    inp0.SleeveLength= inp0.SleeveLength.replace(['cap-sleeves', 'capsleeves'], "cap sleeves")

    inp0.SleeveLength= inp0.SleeveLength.replace('full', "full sleeves")

    inp0.SleeveLength= inp0.SleeveLength.replace(['half','halfsleeve'], "half sleeves")

    inp0.SleeveLength= inp0.SleeveLength.replace(['sleevless', 'sleeevless', 'sleeveless', 'sleveless'], "sleeve less")

    inp0.SleeveLength= inp0.SleeveLength.replace(['threequarter','threequater', 'thressqatar'], "three quater")

    inp0.SleeveLength= inp0.SleeveLength.replace(['turndowncollor','urndowncollor'], "turn down collar")

inp0 = read_data("Attribute DataSet.csv")
#display_data(inp0)

inp1 = read_data("Dress Sales.csv")
#display_data(inp1)

# print("\n\nIdentifying var types === \n")
# identify_var_types(inp0.Price)
# identify_var_types(inp0.Recommendation)
# value_percentage(inp0.Recommendation)

# print("\n\n Size Column fixing, correcting size abbreviation\n")
# value_percentage(inp0.Size)
# inp0.Size = inp0.Size.apply(size_abbreviations)
# value_percentage(inp0.Size)


# Print the null count of each variables of inp0 and inp1.
# Print the data types information of inp1 i.e. "Dress Sales" data.
# Try to convert the object type into float type of data. YOU GET ERROR MESSAGE.
#ValueError: could not convert string to float: 'Removed'
# inp1.info()
inp1 = convert_cols_to_float(inp1)

# print(inp1.isnull().sum())
inp1 = correct_cols_drop_blank_cols(inp1)
# print(inp1.isnull().sum())

# inp1.info()
inp1 = seasonwise_sale(inp1)
drop_date_cols(inp1)
# inp1.info()
# print("Summer : ",inp1.Summer.sum())
# print("Winter : ", inp1.Winter.sum())
# print("Autumn : ",inp1.Autumn.sum())
# print("Spring : ",inp1.Spring.sum())


inp0 = combine_datasets(inp0,inp1)
print(inp0.shape)


# Print the null count of each columns in inp0 dataframe i.e. 
# combined data frame of inp0 and inp1 without date columns.
inp0.isnull().sum()

# Deal with the missing values of Type-1 columns: Price, Season, NeckLine, SleeveLength, Winter and Autumn.
inp0 = drop_missing_type1_rows(inp0)

# Deal with the missing values for Type-2 columns: Material, FabricType, Decoration and Pattern Type.
inp0 = newcateg_replace_null_with_Missing(inp0)

#correcting the spellings.
check_cols_reqd_for_correction(inp0)
inp0 = correct_spellings_type2(inp0)

(479, 17)

In [ ]:
#correcting the Spellings.

## Univariate Analysis

### Categorical Unordered Univariate Analysis

There is a column named ‘Style’ in ‘Attribute Dataset’ which consists of the different style categories of the women apparels. Certain categories whose total sale is less than 50000 across all the seasons is considered under one single category as ‘Others’.

Which of the following categories in ‘Style’ column can be grouped into ‘Others’ category? and perform the grouping operation in the notebook for further analysis.
- Flare, fashion
- Novelty, bohemian
- OL, fashion, work
- Novelty, fashion, Flare

In [2]:
# Group "Style" categories into "Others" which have less than 50000 sales across all the seasons.

What is the percentage of “cute” and “Others” category in “Style” column in “Attribute DataSet” respectively?
- 46%, 5%
- 9%, 2.1%
- 2.1%, 5%
- 13.8%, 9%

In [ ]:
# Calculate the percentage of each categories in the "Style" variable.

Similarly Club Neckline, SLeeve length categories into "Others" which have less than 50000 sales across all the seasons.

In [ ]:
# Group "Neckline" categories into "Others" which have less than 50000 sales across all the seasons.

In [ ]:
# Group "Sleeve length" categories into "Others" which have less than 50000 sales across all the seasons.

Club material, fabrictype, patterntype and decoration categories into "Others" which have less than 25000 sales across all the seasons

In [ ]:
# Group "material" categories into "Others" which have less than 25000 sales across all the seasons.

In [ ]:
# Group "fabric type" categories into "Others" which have less than 25000 sales across all the seasons.

In [ ]:
# Group "patern type" categories into "Others" which have less than 25000 sales across all the seasons.

In [ ]:
# Group "decoration" categories into "Others" which have less than 25000 sales across all the seasons.

### Caregorical Ordered Univariate Analysis

Which of the following is an unordered variable in “Attribute DataSet”.
- Style
- Price
- Season
- Size

### Numerical variable Univariate analysis:

What is the approximate difference between the maximum value and 75th percentile in “Autumn” column.
- Approx 54000
- Approx 55000
- Approx 52000
- Approx 50000

In [ ]:
# Describe the numerical variale: "Autumn".

In [ ]:
# plot the boxplot of "Autumn" column.

Which of the following season has the highest difference between the maximum value and 99th quantile of sales?
- Winter
- Summer
- Spring
- Autumn

In [ ]:
# Find the maximum and 99th percentile of Winter season.

In [ ]:
# Find the maximum and 99th percentile of Summer season.

In [ ]:
# Find the maximum and 99th percentile of Spring season.

In [ ]:
# Find the maximum and 99th percentile of Autumn season.

## Bivariate Analysis

### Numerical- Categorical analysis

Which of the following “Price” category has the lowest average value of rating?
- very-high
- Medium
- Low
- High

In [ ]:
# Find the Mean of Ratings for each Price category.

What is the median of the rating of “vintage” category in Style column?
- 4.6
- 4.7
- 4.55
- 0.00

In [ ]:
# Find the median of Ratings for each Style category.

Which of the following season has the highest average value of sale for “Recommendation” value equals to 1.
- Summer
- Spring
- Autumn
- Winter

In [ ]:
# Summer sale vs Recommendation.

In [ ]:
# Spring sale vs Recommendation.

In [ ]:
# Autumn sale vs Recommendation.

In [ ]:
# Winter sale vs Recommendation.

### Categorical categorical bivariate analysis

Which of the following size categories has the highest positive recommendations?
- Medium and extra large
- Extra large and small
- Free and small
- Free and medium

In [ ]:
# Size vs Recommendation.

### Multivariate analysis

Which of the following pair of “Style” and “Price” category has the highest average of positive recommendations?
- Price: medium and style: vintage
- Price: medium and style: cute
- Price: very high and style: party
- Price: low and style: sexy

In [ ]:
# plot the heat map of Style, price and Recommendation.

Which of the following material type has no recommendation in summer and winter seasons?
- Mix and Milksilk
- Nylon and Rayon
- Microfiber and Silk
- Milksilk and Microfiber

In [ ]:
# plot the heat map of Season, material and Recommendation.